html,
body {
  width: 100%;
  height: auto;
  font-family: $primary-font;
  font-size: $font-size;
  font-weight: 400;
  background: $white;
  color: $black;
  text-size-adjust: 100%;
}

/* Anti Aliasing for fonts */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('./assets/img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
}
