/* Colors */
$downriver: #0c1c56 !default;
$biscay: #20286d !default;
$deepblue: #162b75 !default;
$zodiac: #0c1840 !default;
$prussian: #002154 !default;
$luckypoint: #132566 !default;
$jacksonspurple: #1d348a !default;
$eastbay: #4d538a !default;
$black: #000 !default;
$heavymetal: #1d1d1b !default;
$tundora: #454545 !default;
$dove-gray: #737373 !default;
$silver: #ababab !default;
$nobel: #b7b7b7 !default;
$silver: #c3c3c3 !default;
$alto: #dddddd !default;
$alabaster: #f9f9f9 !default;
$gallery: #eee !default;
$white: #fff !default;
$sun: #fcaf17 !default;

$dixie: #d99715 !default;
$sin: #fcb72e !default;

$light-sun: #f9b000 !default;
$golden: #ffc85d !default;
$cream: #ffdd99 !default;

$red: #f70d0d !default;

/* Named Colors ./assets/img/ */
$color-primary: $sun !default;
$color-footer: $silver !default;
