@mixin breakpoint($point) {
  @if $point == small {
    @media only screen and (min-width: 768px) {
      @content;
    }
  } @else if $point == tablet {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  } @else if $point == medium {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $point == large {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  } @else if $point == xlarge {
    @media only screen and (min-width: 1680px) {
      @content;
    }
  }
}

@mixin shade($direction) {
  background: linear-gradient(to $direction, rgba($black, 1) 0%,rgba($black, 0) 100%);
  background-blend-mode: multiply;
  opacity: .3;
}
