// Font Weight
$light: 300 !default;
$regular: 400 !default;
$semibold: 600 !default;
$bold: 700 !default;
$extrabold: 800 !default;

// Spacings

// Layers
$z-layer-6: 1000 !default;
$z-layer-5: 900 !default;
$z-layer-4: 300 !default;
$z-layer-3: 200 !default;
$z-layer-2: 100 !default;
$z-layer-1: 0 !default;
$z-layer-0: -1 !default;

/* Containers */
$content-container: 1200 !default;
$sitewidth: 1360 !default;
$content-container-padding: 10 !default;
