$_TABLET_LI_WIDTH: 325 !default;
$_DESKTOP_LI_WIDTH: 440 !default;

.about-us-hero {
  background: $jacksonspurple;
  color: $white;

  @include breakpoint(small) { display: flex; }
}

.about-us-vid-wrapper {
  position: relative;

  .about-us-more-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(
      to top,
      $black 0%,
      rgba($black, 0.738) 19%, 
      rgba($black, 0.541) 34%, 
      rgba($black, 0.382) 47%, 
      rgba($black, 0.278) 56.5%, 
      rgba($black, 0.194) 65%, 
      rgba($black, 0.126) 73%, 
      rgba($black, 0.075) 80.2%, 
      rgba($black, 0.042) 86.1%, 
      rgba($black, 0.021) 91%, 
      rgba($black, 0.008) 95.2%, 
      rgba($black, 0.002) 98.2%, 
      transparent 100%
    );
    max-height: 30%;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    transition: height .2s $ease-cubic;

    @include breakpoint(medium) { height: 0; }

    .see-more-btn {
      margin: 0 0 remcalc(10) remcalc(10);
      border: remcalc(2) solid $sun;
      padding: remcalc(4) remcalc(8);
      background: 0;
      appearance: none;
      color: $sun;
      font-family: inherit;
      font-size: remcalc(10);
      font-weight: $semibold;
      text-transform: uppercase;
      cursor: pointer;

      @include breakpoint(tablet) { font-size: remcalc(16); }
    }
  }

  @include breakpoint(small) {
    flex: 0 0 60%;
    max-width: 60%;
  }

  @include breakpoint(medium) {
    flex: 0 0 64%;
    max-width: 64%;

    &:hover {
      .about-us-more-wrapper {
        height: 100%;
      }
    }
  }

  .about-us-vid {
    display: block;
    width: 100%;
  }
}

.about-us-content-wrapper {
  padding: remcalc(16) remcalc(11) remcalc(35);

  @include breakpoint(small) {
    padding: remcalc(35) remcalc(20) remcalc(20);
    flex: 0 0 40%;
    max-width: 40%;
  }

  @include breakpoint(tablet) { padding: remcalc(50) remcalc(30) 0; }

  @include breakpoint(medium) {
    flex: 0 0 36%;
    max-width: 36%;
    padding: remcalc(74) remcalc(91) 0 remcalc(47);
  }

  .about-us-title {
    margin: 0 0 remcalc(20);
    font-size: remcalc(30);
    font-weight: $extrabold;
    text-transform: uppercase;

    @include breakpoint(small) { line-height: 1.2; }

    @include breakpoint(tablet) { font-size: remcalc(40); }

    @include breakpoint(medium) {
      margin: 0 0 remcalc(40);
      font-size: remcalc(50);
      line-height: 1.3;
    }

    & > span {
      @include breakpoint(small) {
        display: block;
        color: $sun;
      }
    }
  }

  .about-us-text {
    font-size: remcalc(14.5);
    text-transform: uppercase;
    line-height: 1.2;

    @include breakpoint(medium) { font-size: remcalc(16); }
  }
}

.about-us-section {
  padding: 0 remcalc(11);
	background: center 100% no-repeat url('./assets/img/bg.svg');
  background-size: 309%;
  overflow-x: hidden;

  @include breakpoint(small) {
		padding: remcalc(80) remcalc(12) remcalc(124);
		background-size: 120%;
	}

  @include breakpoint(tablet) {
    padding: remcalc(102) 0 remcalc(128);
  }

	@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
		background-size: 150%;
	}
}

.about-us-accordion {
  @include breakpoint(small) {
    position: relative;
    max-width: remcalc(740);
    margin: 0 auto;
  }

  @include breakpoint(tablet) { 
    max-width: none;
    margin: 0;
    padding: remcalc(50) 0 remcalc(67); 
  }
}

.about-us-accordion-element {
  @include breakpoint(tablet) { 
    display: flex;
    align-items: center;
    width: remcalc($_TABLET_LI_WIDTH);
  }

  @include breakpoint(medium) { width: remcalc($_DESKTOP_LI_WIDTH); }

  &:before {
    @include breakpoint(tablet) {
      content: '';
      display: block;
      height: 1px;
      background: $white;
      flex: 0 1 remcalc(130);
      transform: scaleX(1.25);
      transition: transform .6s $ease-cubic;
    }

    @include breakpoint(medium) { 
      flex: 0 1 remcalc(236);
      transform: scaleX(1.15);
    }
  }

  & > span {
    position: relative;
    display: block;
    padding: remcalc(25) 0;
    margin: 0 remcalc(10);
    font-size: remcalc(15);
    font-weight: $extrabold;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .6s $ease-cubic;

    @include breakpoint(small) {
      width: remcalc(146);
      padding: 0;
      margin: remcalc(20) remcalc(10);
      line-height: 1.3;
    }

    @include breakpoint(tablet) {
      display: inline-flex;
      align-items: center;
      width: remcalc(235);
      margin: remcalc(12) 0;
      font-size: remcalc(17);
    }

    &:hover { color: $sun; }

    &:before {
      @include breakpoint(tablet) {
        display: block;
        height: remcalc(20);
        opacity: 0;
        margin: 0 remcalc(10) 0 0;
        font-weight: $regular;
        font-size: remcalc(50);
        line-height: 0.19;
        content: '\00BB';
        transform: translateX(remcalc(20));
        transition: transform .8s $ease-cubic;
      }
    }

    &:after {
      position: absolute;
      top: 45%;
      right: 1%;
      display: block;
      content: '';
      height: 0;
      width: 0;
      border-style: solid;
      border-width: remcalc(9) remcalc(8) 0 remcalc(8);
      border-color: $white transparent transparent transparent;

      @include breakpoint(small) { display: none; }
    }
  }

  &:not(:last-of-type) {
    & > span { 
      border-bottom: 1px solid $white; 
    
      @include breakpoint(small) { border: 0; }
    }
  }

  &.is-active {
    margin: remcalc(-1) 0 0;
    background: $white;
    transition: background .5s $ease-cubic;

    @include breakpoint(small) { 
      margin: 0;
      background: transparent; 
    }

    &:before {
      @include breakpoint(tablet) { 
        transform: translateX(remcalc(-8));
      }
    }

    & > span {
      color: $sun;
      border-bottom: 1px solid $downriver;

      @include breakpoint(small) { border: 0; }

      &:before {
        @include breakpoint(tablet) { 
          opacity: 1;
          transform: translateX(0); 
          transition: opacity .8s $ease-cubic, transform .5s $ease-cubic; 
        }
      }

      &:after {
        border-color: $sun transparent transparent transparent;
        transform: scaleY(-1);
      }
    }

    .about-us-element-content { 
      height: 100%;
      max-height: remcalc(370);


      @include breakpoint(small) {
        height: auto;
        max-height: none;
        z-index: $z-layer-2;

				.about-us-accordion-title,
				.about-us-accordion-text {
					opacity: 1;
				}
      }

      @include breakpoint(tablet) {
				height: 100%;
			}

      &:before {
        @include breakpoint(small) {
          animation: accordionChange .8s forwards;
        }
      }
      &:after {
        @include breakpoint(small) {
          animation: accordionChange .8s .3s forwards;
        }
      }
    }
  }
}

.about-us-element-content {
  height: 0;
	max-height: remcalc(1);
  margin: 0 remcalc(10);
  overflow: hidden;
	transition: max-height .9s $ease-cubic;

  @include breakpoint(small) {
    position: absolute;
    top: -10%;
    left: 25%;
    width: 100%;
    height: remcalc(320);
    padding: remcalc(32) remcalc(28);
    max-width: remcalc(540);
    background: $white;
  }

  @include breakpoint(tablet) {
    top: 0;
    left: remcalc($_TABLET_LI_WIDTH + 30);
    height: 100%;
    max-width: remcalc(585);
    padding: remcalc(52) remcalc(38) remcalc(20);
  }

  @include breakpoint(medium) {
    left: remcalc($_DESKTOP_LI_WIDTH + 50);
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
  }

  &:before { background: $white; }
  &:after { background: $downriver; }

  .about-us-accordion-title {
    padding: remcalc(18) 0 0;
    margin: 0 0 remcalc(27);
    font-size: remcalc(20);
    color: $dove-gray;
    line-height: 1.2;
    text-transform: uppercase;

    @include breakpoint(small) {
      padding: 0;
      font-size: remcalc(24);
			opacity: 0;
			transition: opacity .1s .4s ease-in;
    }

    @include breakpoint(tablet) {
      max-width: 96%;
      margin: 0 0 remcalc(38);
      font-size: remcalc(25.5);
    }

    & > strong {
      color: $sun;
      font-weight: $extrabold;
    }
  }

  .about-us-accordion-text {
    font-size: remcalc(14);
    font-weight: $semibold;
    line-height: 1.2;
    margin: 0 0 remcalc(22);

    @include breakpoint(small) {
			font-size: remcalc(15);
			opacity: 0;
			transition: opacity .1s .4s ease-in;
		}

    @include breakpoint(tablet) { 
      line-height: 1.3;
      font-size: remcalc(16);
    }
  }
}

@keyframes accordionChange {
  0% {
    height: 0;
  }
  45% {
    height: 100%;
    transform: translateY(0);
  }
  100% {
    height: 100%;
    transform: translateY(100%);
  }
}
