$_FORM_SECTION_MARGIN_BOTTOM: 30 !default;
$_FORM_SECTION_MARGIN_BOTTOM_SMALL: 43 !default;

.has-modal {

	.modal-wrapper {
		display: none;
		opacity: 0;
		
	}

	&.is-active {
		position: relative;

		.homepage-hero,
		.offer-section {
			display: none;
		}

		.modal-wrapper {
			display: block;
			opacity: 1;
			transition: opacity .5s $ease-cubic;
		}
	}
}



.modal-wrapper {
	position: relative;
	
	background-image: url('./assets/img/home-hero.jpg'), linear-gradient(180deg, $sun , $sun 70%, $downriver 70%, $downriver 100%);
	background-repeat: no-repeat;
	background-size: contain, 100% 100%;
	background-position: 0 0, 0 0;

	@include breakpoint(small) {
		padding: 0 0 remcalc(50);
		background-size: 100% 45%, 100% 100%;
	}

	@include breakpoint(tablet) {
		padding: 0 0 remcalc(90);
	}

	.close-btn {
		position: absolute;
		top: remcalc(14);
		right: remcalc(10);
		display: inline-block;
		background: transparent;
		border: 0;
		appearance: none;
		height: remcalc(32);
		width: remcalc(32);
		outline: none;
		cursor: pointer;

		@include breakpoint(small) {
			right: remcalc(20);
		}

		@include breakpoint(tablet) {
			top: remcalc(30);
			right: remcalc(30);
		}

		&:before, &:after {
			position: absolute;
			left: 0;
			display: inline-block;
			content: '';
			width: remcalc(32);
			height: remcalc(3);
			background: $white;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}

.modal-title {
	padding: remcalc(41) 0 remcalc(51) remcalc(8);
	max-width: remcalc(357);
	font-size: remcalc(30);
	font-weight: $extrabold;
	color: $white;
	text-transform: uppercase;
	line-height: 1.2;

	@include breakpoint(small) {
		max-width: 100%;
		font-size: remcalc(50);
		text-align: center;
	}
}

.modal-box {
	max-width: remcalc(898);
	padding: remcalc(31) 0 remcalc(48);
	margin: 0 auto;
	background: $white;
	color: $downriver;

	@include breakpoint(small) {
		padding: remcalc(50) 0 remcalc(48);
	}
}

.form-section {
	padding: 0 remcalc(22);
	margin: 0 0 remcalc($_FORM_SECTION_MARGIN_BOTTOM);

	@include breakpoint(small) {
		padding: 0 remcalc(169) 0 remcalc(112);
		margin: 0 0 remcalc($_FORM_SECTION_MARGIN_BOTTOM_SMALL);
	}

	&:not(:nth-last-of-type(-n + 2)) {
		padding: 0 remcalc(22) remcalc($_FORM_SECTION_MARGIN_BOTTOM);
		margin: 0 0 remcalc($_FORM_SECTION_MARGIN_BOTTOM);
		border-bottom: 1px solid rgba($downriver, .1);

		@include breakpoint(small) {
			padding: 0 remcalc(169) remcalc($_FORM_SECTION_MARGIN_BOTTOM_SMALL) remcalc(112);
			margin: 0 0 remcalc($_FORM_SECTION_MARGIN_BOTTOM_SMALL);
		}

		@include breakpoint(tablet) {
			padding: 0 remcalc(235) remcalc($_FORM_SECTION_MARGIN_BOTTOM_SMALL) remcalc(157);
			margin: 0 0 remcalc($_FORM_SECTION_MARGIN_BOTTOM_SMALL);
		}
	}

	&.is-regulations {
		@include breakpoint(small) {
			padding: 0 remcalc(112) 0;
			margin: 0 0 remcalc($_FORM_SECTION_MARGIN_BOTTOM_SMALL);
		}
	}
}

.form-element {
	position: relative;
	font-size: remcalc(15);
	overflow: hidden;

	@include breakpoint(small) {
		display: flex;
		align-items: center;
	}

	&.is-required {
		position: relative;

		&:after {
			position: absolute;
			bottom: 5%;
			left: calc(#{100%} + #{remcalc(3)});
			display: block;
			content: '*';
		}

		&:not(:last-of-type) {
			margin: 0 0 remcalc(35);

			@include breakpoint(small) {
				margin: 0 0 remcalc(27);
			}
		}
	}

	&.is-select,
	&.is-file {
		margin: 0 0 remcalc(29);
	}

	&.is-message {
		@include breakpoint(small) {
			display: block;
			max-width: 65%;
			margin: 0 0 0 auto;
		}
	}

	.form-label {
		display: block;
		margin: 0 0 remcalc(8);

		@include breakpoint(small) {
			display: inline-block;
			flex: 0 0 35%;
			max-width: 35%;
			margin: 0 remcalc(10) 0 0;
			text-align: right;
		}

		&.is-message {
			@include breakpoint(small) {
				flex: 0 0 100%;
				max-width: 100%;
				margin: 0 0 remcalc(10);
			}
		}
	}

	.text-input {
		width: 100%;
		padding: 0 0 remcalc(4);
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: $sun;
		color: inherit;
		font-family: inherit;
		font-size: inherit;

		@include breakpoint(small) {
			display: inline-block;
		}

		&:focus {
			outline: none;
		}
	}

	.select-wrapper {
		position: relative;

		.form-select {
			display: block;
			width: 100%;
			padding: remcalc(9) 0 remcalc(9) remcalc(12);
			border: 1px solid $sun;
			border-radius: 0;
			font-family: inherit;
			font-size: inherit;
			color: $nobel;
			appearance: none;

			&::-ms-expand { display: none; }

			&:focus {
				color: $black;
			}
		}

		&:after {
			position: absolute;
			right: remcalc(13);
			top: remcalc(18);
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7px 0 7px;
			border-color: $sun transparent transparent transparent;
			z-index: $z-layer-2;
		}

		&.is-position {
			@include breakpoint(small) {
				width: 100%;
			}
		}

		&.is-workplace {
			margin: 0 0 remcalc(13);

			&:last-of-type {
				margin: 0 0 remcalc(20);
			}
		}
	}

	.form-file {
		position: absolute;
		bottom: 0;
		left: 0;
		width: remcalc(2);
		height: remcalc(2);
		opacity: 0;
		visibility: hidden;
	}

	.form-file-overlay-wrapper {
		$_OVERLAY_HEIGHT_MOBILE: 37 !default;

		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border: 1px solid $sun;
		line-height: remcalc($_OVERLAY_HEIGHT_MOBILE);
		cursor: pointer;

		.file-overlay-name {
			display: inline-block;
			flex: 0 0 66%;
			max-width: 66%;
			height: 100%;
			padding: 0 remcalc(12);
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: inherit;
		}

		.file-overlay-btn {
			flex: 0 0 34%;
			max-width: 34%;
			height: remcalc($_OVERLAY_HEIGHT_MOBILE);
			border: 0;
			background: $sun;
			font-size: remcalc(15);
			font-family: inherit;
			color: $white;
			pointer-events: none;
			appearance: none;
			cursor: inherit;
		}
	}

	.form-textarea {
		width: 100%;
		min-height: remcalc(280);
		margin: 0 0 remcalc(33);
		padding: remcalc(4);
		border: 1px solid $sun;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		resize: vertical;
	}
}

.select-text {
	&:not(:last-of-type) {
		margin: 0 0 remcalc(20);
	}

	& > a {
		font-weight: $bold;
		color: $sun;
		text-decoration: none;
	}
}

.form-title {
	margin: 0 0 remcalc(22);
	font-size: remcalc(15);
	font-weight: $bold;
}

.form-text {
	font-size: remcalc(14);
	line-height: 1.15;

	& > strong {
		font-weight: $bold;
	}

	&.form-rules-text {
		margin: 0 0 remcalc(32);
	}

	&.is-required {
		margin: 0 0 remcalc(27);

		@include breakpoint(tablet) {
			margin: 0 0 remcalc(40);
		}
	}
}

.form-label {
	&.is-workplace {
		@include breakpoint(small) {
			align-self: flex-start;
			margin: remcalc(12) remcalc(10) 0 0;
		}
	}

	&.checkbox-wrapper {
		position: relative;
		display: flex;

		.label-checkbox {
			opacity: 0;

			&:checked ~ .checkmark:after {
				width: remcalc(8);
				height: remcalc(13);
				opacity: 1;
			}
		}

		.checkbox-text {
			margin: 0 0 remcalc(16) 0;
			padding: 0 0 0 remcalc(6);
			font-size: remcalc(14);
			width: 100%;
			line-height: 1.2;
			cursor: pointer;
		}

		.checkmark {
			position: absolute;
			top: remcalc(-2);
			left: 0;
			width: remcalc(19);
			height: remcalc(19);
			border: 1px solid $sun;
			cursor: pointer;

			&:after {
				position: absolute;
				left: remcalc(4);
				top: 0;
				display: block;
				content: '';
				width: 0;
				height: 0;
				opacity: 0;
				border: solid $sun;
				border-width: 0 remcalc(2.5) remcalc(2.5) 0;
				transform: rotate(45deg);
				transition: height .1s $ease-cubic, opacity .1s $ease-cubic;
			}
		}
	}
}

.expand-btn {
	$_MARGIN_BOTTOM: 48 - $_FORM_SECTION_MARGIN_BOTTOM;
	$_MARGIN_BOTTOM_SMALL: 46 - $_FORM_SECTION_MARGIN_BOTTOM_SMALL;

	margin: 0 0 remcalc($_MARGIN_BOTTOM);
	padding: 0 0 remcalc(8);
	width: 100%;
	background: transparent;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: $sun;
	font-family: inherit;
	font-size: remcalc(15);
	font-weight: $bold;
	color: $sun;
	text-transform: uppercase;
	letter-spacing: .5px;
	appearance: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	@include breakpoint(small) {
		margin: 0 0 remcalc($_MARGIN_BOTTOM_SMALL);
	}

	&:after {
		display: inline-block;
		content: '';
		width: 0;
		height: 0;
		margin: 0 0 0 remcalc(19);
		border-style: solid;
		border-width: remcalc(9) remcalc(8) 0 remcalc(8);
		border-color: $sun transparent transparent transparent;
	}
}

.hidden-text-wrapper {
	height: 0;
	max-height: 1px;
	font-size: remcalc(11);
	line-height: 1.25;
	overflow: hidden;
	transition: max-height .6s $ease-cubic;

	&.is-shown {
		height: auto;
		max-height: remcalc(1100);
	}
	
	.hidden-text,
	.hidden-statute {
		margin: 0 0 remcalc(24);
	}

	.hidden-text {
		font-style: italic;
	}
}

.submit-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
	height: remcalc(60);
	max-width: remcalc(270);
	background: $sun;
	border: 0;
	font-family: inherit;
	font-size: remcalc(20);
	font-weight: $bold;
	color: $white;
	text-transform: uppercase;
	cursor: pointer;

	.submit-btn-arrow {
		display: block;
		height: remcalc(17);
		width: remcalc(19);
		margin: 0 0 0 remcalc(17);
		fill: $white;
	}
}
