.benefits {
	position: relative;
	padding: remcalc(32) remcalc($content-container-padding);
	color: $white;
	background: $sin;

	@include breakpoint(tablet) {
		padding: remcalc(64) remcalc($content-container-padding * 3) remcalc(64) remcalc($content-container-padding * 5);
	}

	@include breakpoint(medium) {
		padding: remcalc(80) remcalc($content-container-padding * 3) remcalc(80) remcalc($content-container-padding * 5);
	}
}

.benefits-wrapper {
	@include breakpoint(tablet) {
		position: relative;
		display: flex;
		justify-content: space-between;
	}
}

.benefits-intro {
	@include breakpoint(tablet) {
		width: 57%;
		max-width: 57%;
		height: 100%;
	}

	@include breakpoint(medium) {
		width: 50%;
		max-width: 50%;
	}

	@include breakpoint(large) {
		padding: 0 0 0 remcalc(60);
	}
}

.benefits-header {
	margin: 0 0 remcalc(16);
	font-size: remcalc(15);
	font-weight: 800;
	text-transform: uppercase;

	@include breakpoint(tablet) {
		margin: 0 0 remcalc(32);
		font-size: remcalc(18);
	}

	@include breakpoint(medium) {
		margin: 0 0 remcalc(40);
	}
}

.benefits-subheader {
	margin: 0 0 remcalc(16);
	font-size: remcalc(20);
	letter-spacing: .3px;
	line-height: 1.2;
	text-transform: uppercase;

	strong {
		font-weight: 800;
	}

	@include breakpoint(tablet) {
		font-size: remcalc(26);
	}

	@include breakpoint(medium) {
		font-size: remcalc(35);
	}

	@include breakpoint(large) {
		margin: 0 0 remcalc(38);
		line-height: 1.4;
	}
}

.benefits-slider-intro {
	margin: 0 0 remcalc(24);
	font-size: remcalc(15);
	font-weight: 600;

	@include breakpoint(tablet) {
		font-size: remcalc(20);
	}
}

.benefit-slider {
	display: flex;
	width: 86%;
	margin: 0 auto;
	align-items: stretch;

	@include breakpoint(tablet) {
		width: 100%;
	}

	@include breakpoint(large) {
		padding: 0 remcalc(64) 0 0;
	}

	.benefit-item {
		display: flex;
		width: 100%;
		flex: 1 0 remcalc(148);
		max-width: remcalc(180);

		@include breakpoint(tablet) {
			max-width: remcalc(198);
		}

		@include breakpoint(medium) {
			max-width: none;
		}
	}
}

.benefit-slider-wrapper {
	position: relative;

	@include breakpoint(tablet) {
		position: initial;
		width: 43%;
		max-width: 43%;
		flex: 0 0 43%;
	}

	@include breakpoint(medium) {
		width: 48%;
		max-width: 48%;
		flex: 0 0 48%;
	}

	@include breakpoint(large) {
		width: 50%;
		max-width: 50%;
		flex: 0 0 50%;
	}
}

.benefit-item-wrapper {
	width: 100%;
	max-width: remcalc(128);
	margin: 0 auto;
	padding: remcalc(16) remcalc(14);
	background: $white;
	color: $tundora;
	text-align: center;
	min-height: remcalc(240);

	@include breakpoint(tablet) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: remcalc(180);
		margin: 0 auto;
		padding: remcalc(24) remcalc(12);
	}

	@include breakpoint(medium) {
		max-width: remcalc(232);
		min-height: remcalc(264);
		padding: remcalc(32) remcalc(24);
	}

	@include breakpoint(large) {
		max-width: remcalc(250);
		height: remcalc(250);
	}

	.benefit-icon {
		display: block;
		width: 100%;
		max-width: 65%;
		height: remcalc(108);
		margin: 0 auto remcalc(12);

		@include breakpoint(tablet) {
			max-width: 55%;
		}

		@include breakpoint(medium) {
			max-width: 80%;
			margin: 0 auto remcalc(24);
		}

		@include breakpoint(large) {
			max-width: 70%;
			height: remcalc(128);
		}
	}

	.benefit-title {
		font-size: remcalc(13);
		line-height: 1.26;
		font-weight: 600;
		text-transform: uppercase;

		@include breakpoint(tablet) {
			font-size: remcalc(15);
		}

		@include breakpoint(medium) {
			font-size: remcalc(17);
		}

		@include breakpoint(large) {
			font-size: remcalc(20);
		}
	}
}

.benefit-slider-controls {
	position: absolute;
	top: 60%;
	left: 2.5%;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%);
	width: 95%;
	z-index: 10;

	@include breakpoint(tablet) {
		left: remcalc(-$content-container-padding * 4);
		width: calc(100% + #{remcalc($content-container-padding * 6)});
	}

	@include breakpoint(large) {
		top: 50%;
		left: remcalc(-$content-container-padding);
		width: 100%;
	}

	.benefit-slider-btn {
		appearance: none;
		background: transparent;
		border: 0;
		margin: 0;
		padding: 0;
		display: block;

		& > svg {
			display: block;
			width: remcalc(22);
			height: remcalc(20);

			@include breakpoint(large) {
				width: remcalc(44);
				height: remcalc(40);
			}
		}

		&.prev {
			& > svg {
				transform: rotate(180deg);
			}
		}
	}
}
