.offer-section {
	padding: space(4) 0 0;
	background: $sun;
	font-size: remcalc(14);
	color: $downriver;

	@include breakpoint(small) {
		background-image: url('./assets/img/background-image.jpg'), linear-gradient(180deg, $sun,  $sun 62%, $downriver 62%, $downriver 100%);
		background-repeat: no-repeat;
		background-size: 100% 53%, 100% 100%;
		background-position:  0 34%, 0 0;
	}
}

.offer-section-container {
	@include breakpoint(small) {
		max-width: remcalc(898);
		margin: 0 auto;
	}
}

.position-wrapper {
	margin: 0 space(2.25) space(4);
	padding: space(3.5) space(2.75);
	background: $white;
	text-align: center;

	@include breakpoint(small) {
		margin: 0 space(4) space(3);
		padding: space(5.5) space(10);
	}

	@include breakpoint(tablet) {
		margin: 0 0 space(4);
		padding: space(7.75) space(17.5);
	}

	.position-text {
		padding: 0 0 space(2.5);
		border-bottom: 1px solid $sun;
		margin: 0 0 space(5.75);

		@include breakpoint(tablet) {
			padding: 0 0 space(4);
			margin: 0 0 space(8);
			font-size: remcalc(15);
		}
	}

	.position-name {
		margin: 0 0 space(3);
		font-size: remcalc(20);
		font-weight: $extrabold;
		line-height: 1.15;
		text-transform: uppercase;

		@include breakpoint(tablet) {
			margin: 0 0 space(5.5);
			font-size: remcalc(30);
		}
	}

	.position-caption {
		padding: 0 0 space(4.75);
		border-bottom: 1px solid $sun;
		margin: 0 0 space(3.5);

		@include breakpoint(tablet) {
			padding: 0 0 space(7.75);
			margin: 0 0 space(5.75);
			font-size: remcalc(18);
		}
	}
}

.position-details-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: space(5.25) space(3.5) space(4.25);
	margin: 0 0 space(4.75);
	background: $white;

	@include breakpoint(small) {
		padding: space(7) space(10) space(9);
		margin: 0 space(4) space(3);
	}

	@include breakpoint(tablet) {
		padding: space(10) space(17.5);
		margin: 0 0 space(3);
		flex-wrap: nowrap;
	}

	.position-details {
		flex: 0 0 calc(#{50%} - #{remcalc(20)});
		max-width: calc(#{50%} - #{remcalc(20)});

		@include breakpoint(tablet) {
			flex: 0 0 25%;
			max-width: 25%;
		}

		&:nth-child(-n + 2) {
			margin: 0 0 space(7);
		}

		.details-title {
			margin: 0 0 space(2.5);

			@include breakpoint(tablet) {
				margin: 0 0 space(2.75);
				font-size: remcalc(15);
			}
		}

		.details-text {
			word-break: break-word;
			font-size: remcalc(16);
			font-weight: $semibold;
			line-height: 1.2;

			@include breakpoint(tablet) {
				padding: 0 remcalc(8) 0 0;
			}
		}
	}
}

.position-description-wrapper {
	padding: space(4.25) space(2);
	background: $white;

	@include breakpoint(small) {
		padding: space(7) space(10);
		margin: 0 space(4);
	}

	@include breakpoint(tablet) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: space(14) space(17.5) space(8);
		margin: 0;
	}

	.description-box {
		@include breakpoint(tablet) {
			width: 100%;
		}

		&:not(:last-of-type) {
			margin: 0 0 space(8);

			@include breakpoint(tablet) {
				margin: 0;
			}
		}

		&:not(:first-child) {
			@include breakpoint(tablet) {
				flex: 0 0 45%;
			}
		}

		.description-title {
			margin: 0 0 space(3.25);
			font-size: remcalc(18);
			text-transform: uppercase;
			line-height: 1.15;

			@include breakpoint(tablet) {
				margin: 0 0 space(7.75);
			}

			& > strong { font-weight: $extrabold; }
		}

		.description-list,
		.custom-offer-list {
			padding: 0 0 0 remcalc(20);

			ul {
				margin: 0;
				padding: 0;
				list-style: disc;
			}

			@include breakpoint(tablet) {
				font-size: remcalc(15);
			}

			&.duties {
				ul {
					list-style: none;
				}

				@include breakpoint(tablet) {
					width: 100%;
					padding: 0 0 space(7.75) remcalc(20);
					margin: 0 0 space(7.75);
					border-bottom: 1px solid $sun;
				}

				li {
					position: relative;

					&:before {
						position: absolute;
						top: 1px;
						left: remcalc(-22);
						display: block;
						content: url('./assets/img/arrow_list.svg');
					}
				}
			}

			li {
				line-height: 1.15;

				&:not(:last-of-type) {
					margin: 0 0 space(3.25);

					@include breakpoint(tablet) {
						margin: 0 0 space(5.5);
					}
				}
			}
		}
	}
}

.join-us-wrapper {
	padding: space(6.25) space(4.25);
	background: $downriver;

	@include breakpoint(small) {
		margin: 0 space(4);
		padding: space(6.25) space(10);
	}

	@include breakpoint(tablet) {
		margin: 0;
		padding: space(10.5) space(17.5);
	}

	.join-us-heading {
		font-size: remcalc(20);
		color: $sun;
		text-transform: uppercase;
		line-height: 1.15;

		@include breakpoint(tablet) {
			font-size: remcalc(30);
			line-height: 1.3;
		}

		& > strong { font-weight: $extrabold; }
	}
}

.we-offer-wrapper {
	padding: space(5.25) 0 space(7);
	background: $white;
	text-align: center;

	@include breakpoint(small) {
		padding: space(5.25) 0 space(7);
		margin: 0 space(4);
	}

	@include breakpoint(tablet) {
		padding: space(12.5) space(17.5) space(8);
		margin: 0;
	}

	.we-offer-heading {
		margin: 0 0 space(4);
		font-size: remcalc(15);
		font-weight: $extrabold;
		text-transform: uppercase;

		@include breakpoint(tablet) {
			margin: 0 0 space(10);
			font-size: remcalc(18);
			text-align: left;
		}
	}
}

.we-offer-slider {
	@include breakpoint(tablet) {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.we-offer-element {
	@include breakpoint(tablet) {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}

	&:not(:nth-child(n + 4)) {
		@include breakpoint(tablet) {
			margin: 0 0 space(10);
		}
	}

	.we-offer-text {
		max-width: 60%;
		margin: 0 auto;
	}

	.we-offer-img {
		display: block;
		width: remcalc(90);
		height: 60%;
		margin: 0 auto space(4);
		fill: $downriver;
	}
}

.apply-wrapper {
	padding: space(6.75) space(4.5) space(10.5);
	background: $downriver;
	text-align: center;

	@include breakpoint(small) {
		margin: 0 space(4);
		padding: space(6.75) space(4) space(10.5);
	}

	@include breakpoint(tablet) {
		margin: 0;
		padding: space(13) space(17.5) space(17);
	}

	.apply-heading {
		margin: 0 0 space(6.5);
		font-size: remcalc(17);
		font-weight: $bold;
		line-height: 1.2;
		color: $white;

		@include breakpoint(tablet) {
			font-size: remcalc(20);
			margin: 0 0 space(9.5);
		}
	}

	.apply-btn {
		height: remcalc(60);
		width: 100%;
		max-width: remcalc(348);
		margin: 0 auto space(6.75);
		border: 0;
		background: $sun;
		font-family: inherit;
		font-size: remcalc(20);
		font-weight: $bold;
		text-transform: uppercase;
		color: $white;
		appearance: none;
		transition: all .5s $ease-cubic;
		cursor: pointer;

		&:hover,
		&:focus {
			background: $white;
			color: $downriver;
		}

		@include breakpoint(tablet) {
			margin: 0 auto space(11.5);
			font-size: remcalc(29);
		}
	}

	.apply-description {
		color: rgba($white, .7);
		line-height: 1.15;

		@include breakpoint(tablet) {
			font-size: remcalc(15);
			color: rgba($white, .7);
			line-height: 1.3;
		}
	}
}

/* Slick btns */
.custom-offer-list {
	position: relative;

	.offer-btn {
		position: absolute;
		top: 22%;
		border: 0;
		background: transparent;
		appearance: none;
		opacity: 1;
		pointer-events: auto;
		transition: opacity .5s $ease-cubic;
		z-index: $z-layer-3;

		@include breakpoint(tablet) { display: none; }

		&:focus { outline: none; }

		&.slick-disabled {
			opacity: 0;
			pointer-events: none;
		}

		& > svg {
			display: block;
			height: remcalc(24);
			width: auto;
		}

		&.prev-offer {
			left: 3%;
			transform: rotate(180deg);
		}

		&.next-offer {
			right: 3%;
		}
	}
}
