.site-container {
	width: 100%;
	max-width: 100vw;
}

.content-container {
	width: 100%;
	max-width: remcalc($sitewidth);
	margin: 0 auto;
	padding: remcalc(55) 0 0 0;
	background: $white;
	box-shadow: 0 0 remcalc(12) remcalc(3) rgba($biscay, 0.15);

	@include breakpoint(medium) {
		padding: 0;
	}
}

.container {
	margin: 0 auto;
	padding: 0 remcalc($content-container-padding);
	width: 100%;
	max-width: remcalc($content-container);
}

.spontanious-app {
	.modal-wrapper {
		width: 100%;
		position: absolute;
		top: remcalc(32);
		left: 0;
		display: none;
		opacity: 0;
		z-index: 10;

		@include breakpoint(medium) {
			top: 0;
		}
	}
}
