.facts-section {
	padding: space(7.75) 0 space(6.75);
	background: $sun;

	@include breakpoint(tablet) {
		padding: space(7.75) 0 space(16.75);
		height: remcalc(400);
	}
}

.facts-container {
	@include breakpoint(large) {
		max-width: remcalc(1280);
	}
}

/* Section title */
.facts-title-wrapper {
	max-width: remcalc(550);
	margin: 0 auto space(5);

	@include breakpoint(tablet) {
		max-width: remcalc(266);
		margin: 0 0 space(11.25) space(3);
	}

	@include breakpoint(large) { margin: 0 0 space(11.25); }

	.facts-title {
		margin: 0 0 space(1.25);
		font-size: remcalc(15);
		font-weight: $extrabold;
		text-align: center;
		text-transform: uppercase;
		color: $white;

		@include breakpoint(tablet) {
			margin: 0 0 space(6.25);
			font-size: remcalc(25);
			text-align: start;
		}
	}
}

/* Pagination */
.facts-pagination-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.facts-btn {
		@include breakpoint(tablet) { display: none; }
	}
}

.facts-pagination {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0 space(4);
	height: remcalc(6);

	@include breakpoint(tablet) {
		padding: 0;
		justify-content: space-between;
	}

	.facts-pagination-element {
		flex: 0 1 19%;
		max-width: 19%;

		.facts-slider-page {
			display: block;
			height: remcalc(3);
			width: 100%;
			border: 0;
			padding: 0;
			margin: 0;
			appearance: none;
			background: rgba($white, .5);
			transition: all .5s $ease-cubic;

			&:focus { outline: 0; }

			&:hover,
			&.is-active,
			&:focus {
				height: remcalc(6);
				background: $white;
			}
		}
	}
}

/* BTN */
.facts-btn {
	display: block;
	padding: 0;
	border: 0;
	background: transparent;
	appearance: none;
	opacity: 1;
	transition: opacity .4s $ease-cubic;

	&.prev-btn { transform: rotate(180deg); }
	&:focus { outline: 0; }

	&:hover,
	&:focus {
		& > svg { fill: $white; }
	}

	& > svg {
		display: block;
		width: remcalc(20);
		height: auto;
		fill: rgba($white, .6);
		transition: fill .5s $ease-cubic;
	}

	&.is-hidden {
		pointer-events: none;
		opacity: 0;
	}
}

.facts-slider-wrapper {
	@include breakpoint(tablet) { display: flex; }

	.facts-btn {
		display: none;
		@include breakpoint(tablet) { display: block; }
	}
}

.facts-slider { 
	position: relative;
	flex-basis: 100%;
	height: remcalc(350);

	@include breakpoint(small) { height: remcalc(250); }
	@include breakpoint(tablet) { height: remcalc(210); }
	@include breakpoint(large) {
		margin: 0 remcalc(30);
	}

	.fact-slide {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
}

.fact-slide {
	&.is-active {
		.fact-slide-wrapper {
			.fact-element {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
}

.fact-slide-wrapper {
	width: 95%;
	max-width: remcalc(520);
	margin: 0 auto;

	@include breakpoint(tablet) {
		display: flex;
		justify-content: flex-start;
		max-width: 95%;
		width: 100%;
	}

	@include breakpoint(large) { max-width: 100%; }

	.fact-element {
		$_MARGIN_TABLET: 4 !default;
		$_MARGIN_MEDIUM: 5 !default;
		$_MARGIN_LARGE: 7 !default;

		display: flex;
		align-items: center;
		width: 100%;
		margin: 0 0 space(.5);
		padding: space(4) space(3.5);
		background: $golden;
		opacity: 0;
		transform: translate(-16%, 0);

		$_TIMING: .7s !default;
		&:first-of-type { transition: all $_TIMING $ease-cubic }
		&:nth-of-type(2) { transition: all $_TIMING .2s $ease-cubic; }
		&:nth-of-type(3) { transition: all $_TIMING .3s $ease-cubic; }
		&:nth-of-type(4) { transition: all $_TIMING .4s $ease-cubic; }

		@include breakpoint(tablet) {
			display: block;
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: calc(#{25%} - #{space($_MARGIN_TABLET * 3 / 4)});
			margin: 0 space($_MARGIN_TABLET) space(3.5) 0;
			padding: 0;
			background: transparent;
			transform: translate(0, 26%);

		}

		@include breakpoint(medium) {
			flex-basis: calc(#{25%} - #{space($_MARGIN_MEDIUM * 3 / 4)});
			margin: 0 space($_MARGIN_MEDIUM) space(3.5) 0;
		}

		@include breakpoint(large) {
			flex-basis: calc(#{25%} - #{space($_MARGIN_LARGE * 3 / 4)});
			margin: 0 space($_MARGIN_LARGE) space(3.5) 0;
		}

		.fact-number {
			font-size: remcalc(20);
			font-weight: $extrabold;
			color: $downriver;
			text-align: right;
			flex: 0 0 26%;
			margin: 0 space(3.5) 0 0;

			@include breakpoint(tablet) {
				font-size: remcalc(40);
				text-align: center;
				margin: 0 0 2px 0;
				padding: space(6.5) 0;
				background: $golden;
			}

			@include breakpoint(medium) { font-size: remcalc(55); }
			@include breakpoint(large) { font-size: remcalc(70); }
		}

		.fact-text {
			font-size: remcalc(16);
			font-weight: $bold;
			line-height: 1.2;
			color: $tundora;

			@include breakpoint(tablet) {
				display: flex;
				justify-content: center;
				align-items: center;
				height: remcalc(82);
				padding: 0 space(1.8);
				font-size: remcalc(14.5);
				text-align: center;
				background: $cream;
			}
		}
	}
}
