.footer-section {
	position: relative;
	padding: space(8.5) 0 space(12);
	background: $silver;

	@include breakpoint(tablet) { padding: space(8.5) 0 space(9.75); }

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: '';
		width: 100%;
		height: remcalc(60);
		@include shade(bottom);
		opacity: .15;
	}
}

.footer-container {
	padding: 0 space(5);
}

.footer-elements-wrapper {
	@include breakpoint(tablet) {
		display: flex;
		align-items: center;
		margin: 0 0 space(9.25);
	}
}

/* Social Media Icons */
.social-wrapper {
	padding: 0 0 space(8.5);

	@include breakpoint(tablet) {
		order: 2;
		margin: 0 0 0 auto;
		padding: 0;
	}

	& > a {
		display: inline-block;

		&:first-child {
			margin: 0 space(5.25) 0 0;
		}

		& > svg {
			width: remcalc(39);
			height: remcalc(39);
			fill: $white;
			transition: fill .5s $ease-cubic;

			&:hover { fill: $sun; }
		}
	}
}

.footer-box {
	color: $white;

	&.job-wrapper {
		padding: 0 0 space(6);
		margin: 0 0 space(5.25);
		border-bottom: 1px solid rgba($white, .2);

		@include breakpoint(tablet) {
			order: 0;
			padding: space(2) space(14.25) space(2) 0;
			margin: 0;
			border-bottom: 0;
			border-right: 2px solid rgba($white, .2);
		}
	}

	&.school-wrapper {
		margin: 0 0 space(10.5);

		@include breakpoint(tablet) {
			order: 1;
			padding: space(1.25) 0 space(3.5) space(9.5);
			margin: 0;
		}
	}

	.footer-heading {
		font-size: remcalc(20);
		margin: 0 0 space(3);

		@include breakpoint(tablet) {
			font-size: remcalc(25);
			margin: 0 0 space(4.5);
		}
	}
}

.contact-wrapper {
	& > a {
		display: inline-block;
		font-size: remcalc(14);
		font-weight: $extrabold;
		color: rgba($white, .8);
		text-decoration: none;
		@include breakpoint(tablet) { font-size: remcalc(16); }

		&:first-child {
			margin: 0 space(7.25) 0 0;
			@include breakpoint(tablet) { margin: 0 space(5) 0 0; }
		}
	}
}

.terms-wrapper {
	& > a {
		display: block;
		font-size: remcalc(16);
		font-weight: $bold;
		color: rgba($white, .8);
		text-decoration: none;
		transition: color .5s $ease-cubic;

		@include breakpoint(tablet) {
			display: inline-block;
			font-size: remcalc(14);
		}

		&:first-child {
			margin: 0 0 space(3.25);
			@include breakpoint(tablet) { margin: 0 space(12.75) 0 0; }
		}

		&:hover { color: $sun; }
	}
}
