.hero-container {
	padding: 0;

	@include breakpoint(medium) {
		display: flex;
	}

	&.is-offer {
		@include breakpoint(tablet) { display: flex; }
	}
}

.hero-image {
	padding: remcalc(24) remcalc($content-container-padding) remcalc(64);
	background-image: url('./assets/img//home-hero.jpg');
	background-size: remcalc(860);
	background-position: 90% 20%;
	color: $white;

	@include breakpoint(small) {
		padding: remcalc(48) remcalc($content-container-padding * 3) remcalc(64);
		background-size: cover;
	}

	@include breakpoint(medium) {
		display: flex;
		flex: 0 0 68%;
		max-width: 68%;
		padding: remcalc(88) 4%;
	}

	&.is-offer {
		position: relative;
		padding: remcalc(24) remcalc($content-container-padding) remcalc(34);

		@include breakpoint(tablet) {
			padding: remcalc(88) 4%;
		}

		@include breakpoint(medium) {
			flex-direction: column;
			align-items: space-between;
			flex: 0 0 68%;
			max-width: 68%;
			padding: remcalc(92) 4% remcalc(54);
			background-position: 90% 60%;
		}

		&.sent {
			text-align: center;
			padding: remcalc(42) remcalc($content-container-padding) remcalc(48);

			.hero-header {
				width: 100%;
				margin: 0 auto;

				@include breakpoint(medium) {
					text-align: center;
					flex: 0 0 auto;
					margin: 0 0 remcalc(16);
				}
			}

			@include breakpoint(tablet) {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				min-height: remcalc(320);
			}

			@include breakpoint(medium) {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.hero-header {
	font-size: remcalc(30);
	font-weight: 800;
	line-height: 1.2;
	width: 100%;
	text-transform: uppercase;
	max-width: remcalc(160);
	margin: 0 0 remcalc(24);

	@include breakpoint(medium) {
		flex: 1 1 100%;
		margin: 0 remcalc(48) 0 0;
		font-size: remcalc(68);
		line-height: 1.4;
		max-width: none;
		text-align: right;
	}

	&.is-offer {
		font-weight: $light;
		max-width: remcalc(255);
		z-index: $z-layer-2;

		@include breakpoint(medium) {
			margin: 0 0 space(8);
			font-size: remcalc(63);
			line-height: 1.15;
			text-align: left;
		}

		& > strong {
			font-weight: $semibold;
		}
	}
}

.hero-content {
	font-size: remcalc(15);
	line-height: 1.3;

	.hero-paragraph {
		&:not(:last-child) {
			margin: 0 0 remcalc(12);
		}

		@include breakpoint(medium) {
			font-size: remcalc(16);
			line-height: 1.4;
		}
	}

	@include breakpoint(medium) {
		flex: 0 0 48%;
	}

	&.is-offer {
		z-index: $z-layer-2;

		@include breakpoint(medium) {
			max-width: 57%;
			align-self: flex-end;
		}
	}
}

.hero-blue-bg {
	position: relative;
	background: $downriver;
	padding: remcalc(28) remcalc($content-container-padding * 2);

	&.is-offer {
		display: none;

		@include breakpoint(tablet) {
			display: block;
			flex: 0 0 40%;
			max-width: 40%;
		}

		@include breakpoint(medium) {
			display: block;
			flex: 0 0 32%;
			max-width: 32%;
			padding: remcalc(95) remcalc($content-container-padding * 3) remcalc(54);
		}
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: remcalc(100);
		@include shade(bottom);
		z-index: 0;
	}

	&:after {
		content: '';
		display: table;
		clear: both;

		@include breakpoint(medium) {
			display: block;
			clear: none;
			position: absolute;
			top: 0;
			left: 0;
			width: remcalc(64);
			height: 100%;
			@include shade(right);
			z-index: 0;
		}
	}

	@include breakpoint(medium) {
		flex: 0 0 32%;
		max-width: 32%;
	}
}

.hero-blue-content {
	@include breakpoint(small) {
		display: flex;
		align-items: center;
		padding: remcalc(24) 0;
		width: 100%;
	}

	@include breakpoint(medium) {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: remcalc(42) remcalc(48);
	}

	&.is-offer {
		color: $white;

		@include breakpoint(tablet) {
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			padding: 0 remcalc(16);
		}

		@include breakpoint(medium) {
			justify-content: flex-start;
		}
	}
}

.hero-offer-list {
	margin: 0 0 space(9);

	@include breakpoint(medium) {
		margin: 0 0 space(10);
	}

	.offer-list-element {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin: 0 0 space(2.5);

			@include breakpoint(medium) {
				margin: 0 0 space(3.5);
			}
		}

		& > svg {
			width: remcalc(41);
			height: remcalc(41);
			margin: 0 space(4) 0 0;
			fill: $sun;
		}

		.list-offer-text {
			font-size: remcalc(15);
			font-weight: $bold;

			@include breakpoint(medium) {
				font-size: remcalc(20);
			}
		}
	}
}

.hero-offer-text {
	width: 100%;
	font-size: remcalc(14);
	line-height: 1.4;

	@include breakpoint(medium) { font-size: remcalc(16); }
}

.hero-blue-heading {
	font-size: remcalc(30);
	text-transform: uppercase;
	color: $white;
	line-height: 1.3;
	width: 100%;
	max-width: remcalc(240);

	@include breakpoint(small) {
		max-width: none;
	}

	@include breakpoint(medium) {
		font-size: remcalc(50);
	}

	.orange {
		color: $sun;
		font-weight: 800;
	}
}

.hero-apply-btn {
	display: inline-flex;
	align-items: center;
	width: auto;
	padding: 0 remcalc(32);
	float: right;
	border: 2px solid $sun;
	color: $white;
	text-transform: uppercase;
	font-weight: 800;
	font-size: remcalc(15);
	text-decoration: none;
	height: remcalc(44);
	transition: background .3s $ease-cubic;

	@include breakpoint(small) {
		float: none;
	}

	@include breakpoint(medium) {
		padding: 0 remcalc(48);
		float: none;
		font-size: remcalc(20);
		height: remcalc(56);
	}

	& > svg {
		display: block;
		margin: 0 0 0 remcalc(12);
		width: remcalc(21);
		height: remcalc(20);

		path {
			fill: $white;
		}
	}

	&:hover,
	&:focus {
		background: $sun;
	}
}

/* Sent Template */
.sent-sub {
	font-size: remcalc(21);
	line-height: 1.34;
}
