$_TITLE_BOX_PADDING: 5.5 !default;
$_TITLE_BOX_PADDING_TABLET: 10 !default;
$_TITLE_BOX_PADDING_MEDIUM: 20.5 !default;

/* Hero Title */
.internship-hero-section {
	padding: space(8.25) 0 space(10.75);
	background: $gallery;

	@include breakpoint(tablet) { padding: space(18) 0 space(24.5); }
	@include breakpoint(medium) { padding: space(23) 0 space(27.5); }
}

.internship-hero-wrapper {
	color: $dove-gray;
	text-transform: uppercase;

	.internship-title {
		margin: 0 0 space(4.25);
		font-size: remcalc(30);
		font-weight: $extrabold;

		@include breakpoint(tablet) {
			font-size: remcalc(45);
			margin: 0 0 space(5.5);
		}

		@include breakpoint(medium) {
			font-size: remcalc(60);
			margin: 0 0 space(7.5);
		}
	}

	.internship-subtitle {
		display: inline-block;
		font-size: remcalc(14.5);
		line-height: 1.4;

		@include breakpoint(medium) { font-size: remcalc(16); }

		&:not(:last-child) {
			position: relative;
			margin: 0 remcalc(12) 0 0;

			&:after {
				position: absolute;
				top: -10%;
				right: remcalc(-11);
				display: block;
				content: '\2022';
				font-size: remcalc(18);
			}
		}
	}
}

.internship-intro-section {
	padding: space(6.5) 0 space(7);
	background: $downriver;

	@include breakpoint(medium) { padding: space(10.5) 0 space(7); }
}

.internship-intro-wrapper {
	.intro-title {
		margin: 0 0 space(6);
		font-size: remcalc(25);
		line-height: 1.33;
		color: $sun;
		text-align: center;
		text-transform: uppercase;

		@include breakpoint(medium) {
			margin: 0 0 space(9);
			font-size: remcalc(30);
		}

		& > strong {
			display: block;
			font-weight: $extrabold;
		}
	}

	.intro-text {
		max-width: remcalc(473);
		margin: 0 auto;
		font-size: remcalc(14);
		font-weight: $semibold;
		color: $white;
		text-align: center;
		line-height: 1.5;

		@include breakpoint(medium) { font-size: remcalc(16); }
	}
}

/* Accordion */
$_ACCORDION_TITLE_HEIGHT: 62 !default;
$_ACCORDION_BACKGROUND: $sun !default;

.internship-accordion {
	position: relative;
	background: $_ACCORDION_BACKGROUND;

	@include breakpoint(small) {
		display: flex;
		flex-direction: column;
		height: remcalc(520);
	}

	@include breakpoint(medium) { height: remcalc(645); }
}

/* Accordion content */
.accordion-content {
	height: 0;
	max-height: remcalc(2);
	transition: max-height 1.7s $ease-cubic;

	@include breakpoint(small) {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 67%;
		transition: none;
	}

	@include breakpoint(medium) {
		display: flex;
		width: 71%;
		overflow: hidden;
	}
}

.accordion-image-wrapper {
	@include breakpoint(medium) {
		position: relative;
		flex: 0 0 33%;
		order: 1;
		overflow: hidden;
		background: white;
		opacity: 0;
		transition: opacity .9s $ease-cubic;
	}

	.accordion-image {
		display: block;
		width: 100%;
		height: auto;

		@include breakpoint(small) { display: none; }

		@include breakpoint(medium) {
			position: absolute;
			left: -100%;
			display: block;
			height: 100%;
			width: auto;
		}

		&.is-internship {
			@include breakpoint(medium) {
				left: -185%;
			}
		}
	}
}

.accordion-text {
	text-align: justify;
}

.accordion-content-wrapper {
	padding: space(5) space(2.5);
	line-height: 1.22;
	color: $white;

	@include breakpoint(small) {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 0 space(14);
		opacity: 0;
	}

	@include breakpoint(medium) {
		flex: 0 0 67%;
		order: 0;
	}

	&:before,
	&:after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		content: '';
		height: 0;
		width: 100%;
	}

	&:before { background: $white; }
	&:after { background: $sun; }

	.accordion-text {
		margin: 0 0 space(6.5);
		font-size: remcalc(14);
		line-height: 1.4;

		@include breakpoint(small) { margin: 0 0 space(8); }

		@include breakpoint(tablet) {
			margin: 0 0 space(9);
			font-size: remcalc(16);
		}

		@include breakpoint(medium) { font-weight: $semibold; }

		& > strong { font-weight: $extrabold; }

		&:last-of-type {
			@include breakpoint(large) {
				margin: 0 0 space(11.75);
			}
		}
	}

	.accordion-heading {
		margin: 0 0 space(7);
		font-size: remcalc(20);
		text-transform: uppercase;
		text-align: center;

		@include breakpoint(small) { margin: 0 0 space(8.5); }

		@include breakpoint(tablet) {
			margin: 0 0 space(9);
			font-size: remcalc(22);
		}

		@include breakpoint(large) {
			font-size: remcalc(27);
		}

		& > strong { font-weight: $bold; }
	}
}

.accordion-footer {
	text-align: center;

	.accordion-btn-heading {
		margin: 0 0 space(2.5);
		font-size: remcalc(14);
		font-weight: $bold;

		@include breakpoint(tablet) {
			margin: 0 0 space(3);
			font-size: remcalc(18);
		}

		@include breakpoint(medium) {
			margin: 0 0 space(4.75);
			font-size: remcalc(20);
		}
	}

	.accordion-btn {
		width: 100%;
		height: remcalc(46);
		border: 0;
		box-shadow: 0 1px remcalc(6) 0 rgba($black, .3);
		background: $white;
		font-size: remcalc(14);
		font-weight: $extrabold;
		color: $sun;
		text-transform: uppercase;
		appearance: none;
		cursor: pointer;

		@include breakpoint(tablet) {
			height: remcalc(51);
			font-size: remcalc(18);
		}

		@include breakpoint(medium) { font-size: remcalc(20); }
	}
}

.accordion-text,
.accordion-heading,
.accordion-footer {
	@include breakpoint(small) {
		opacity: 0;
		transition: opacity .1s .9s $ease-cubic;
	}
}

.accordion-element {
	overflow: hidden;
	transition: max-height .5s $ease-cubic;

	@include breakpoint(small) {
		max-height: 100%;
		height: auto;
		flex: 0 0 33.33%;
	}

	&.is-active {
		@include breakpoint(small) { max-height: 100%; }

		.accordion-content {
			height: 100%;
			max-height: remcalc(900);

			.accordion-content-wrapper {
				@include breakpoint(small) { opacity: 1; }

				&:before { 
					@include breakpoint(small) { animation: accordionChange 1s forwards; }
				}
				&:after {
					@include breakpoint(small) { animation: accordionChange .9s .4s forwards; }
				}

				.accordion-text,
				.accordion-heading,
				.accordion-footer {
					@include breakpoint(small) { opacity: 1; }
				}
			}

			.accordion-image-wrapper {
				@include breakpoint(medium) {
					opacity: 1;
				}
			}
		}

		.accordion-title-wrapper {
			&:after { transform: rotateX(180deg); }
			&:before { background: $_ACCORDION_BACKGROUND; }

			.accordion-title {
				font-weight: $regular;

				&:before {
					@include breakpoint(medium) {
						opacity: 1;
						visibility: visible;
					}
				}

				&:after {
					width: calc(100% + #{space($_TITLE_BOX_PADDING * 3)});
					transform: translateX(#{space($_TITLE_BOX_PADDING)});

					@include breakpoint(tablet) {
						width: calc(100% + #{space($_TITLE_BOX_PADDING_TABLET * 3)});
						transform: translateX(#{space($_TITLE_BOX_PADDING_TABLET)});
					}

					@include breakpoint(medium) {
						width: calc(100% + #{space($_TITLE_BOX_PADDING_MEDIUM * 3)});
						transform: translateX(#{space($_TITLE_BOX_PADDING_MEDIUM)});
					}
				}
			}
		}
	}

	.accordion-title-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: remcalc($_ACCORDION_TITLE_HEIGHT);
		padding: 0 space($_TITLE_BOX_PADDING);
		background-size: cover;
		overflow: hidden;
		cursor: pointer;

		@include breakpoint(small) {
			width: 33%;
			height: 100%;
		}

		@include breakpoint(tablet) { padding: 0 space($_TITLE_BOX_PADDING_TABLET); }

		@include breakpoint(medium) {
			width: 29%;
			padding: 0 0 0 space($_TITLE_BOX_PADDING_MEDIUM);
		}

		&.is-internship {
			background-image: url('./assets/img/foto-praktyki.jpg');
			background-position: 0 60%;
		}

		&.is-employee {
			background-image: url('./assets/img/foto-pracownicy-mlodociani.jpg');
			background-position: 0 70%;
		}

		&.is-training {
			background-image: url('./assets/img/foto-platny-staz.jpg');
			background-position: 0 25%;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			content: '';
			height: 100%;
			width: 100%;
			background: rgba($black, .5);
			transition: background .5s $ease-cubic;
		}

		&:after {
			display: block;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: remcalc(9) remcalc(8) 0 remcalc(8);
			border-color: $white transparent transparent transparent;
			transition: transform .5s $ease-cubic;
			z-index: $z-layer-1;

			@include breakpoint(small) { display: none; }
		}

		.accordion-title {
			position: relative;
			width: 100%;
			font-size: remcalc(15);
			font-weight: $extrabold;
			color: $white;
			text-transform: uppercase;
			z-index: $z-layer-1;

			@include breakpoint(small) {
				font-size: remcalc(17);
				line-height: 1.22;
			}

			@include breakpoint(tablet) { font-size: remcalc(22); }

			@include breakpoint(medium) {
				font-size: remcalc(30);
			}

			&:before {
				position: absolute;
				top: 0;
				left: -13%;
				display: block;
				content: '\00BB';
				font-size: remcalc(44);
				line-height: .6;
				visibility: hidden;
				opacity: 0;
				transition: opacity .5s $ease-cubic;
			}

			&:after {
				position: absolute;
				bottom: remcalc(-5);
				display: none;
				content: '';
				height: 2px;
				background: $white;

				@include breakpoint(small) {
					display: block;
					width: space($_TITLE_BOX_PADDING / 2);
					margin: 0 0 0 space( - $_TITLE_BOX_PADDING);
					transition: width .6s ease-in, transform .3s .3s ease-in;
				}

				@include breakpoint(tablet) {
					width: space($_TITLE_BOX_PADDING_TABLET / 2);
					margin: 0 0 0 space( - $_TITLE_BOX_PADDING_TABLET);
				}

				@include breakpoint(medium) {
					width: space($_TITLE_BOX_PADDING_MEDIUM / 2);
					margin: 0 0 0 space( - $_TITLE_BOX_PADDING_MEDIUM);
				}
			}
		}
	}
}
