.job-offers-hub {
	position: relative;
	padding: remcalc(48) 0 remcalc(18);
	background: linear-gradient(180deg, $gallery, $gallery #{remcalc(180)}, $prussian 0);
	color: $luckypoint;

	@include breakpoint(small) {
		padding: remcalc(64) 0 remcalc(96);
		background: linear-gradient(180deg, $gallery, $gallery #{remcalc(260)}, $prussian 0);
	}

	@include breakpoint(tablet) {
		background: linear-gradient(180deg, $gallery, $gallery #{remcalc(290)}, $prussian 0);
	}

	@include breakpoint(medium) {
		padding: remcalc(96) 0;
		background: linear-gradient(180deg, $gallery, $gallery #{remcalc(360)}, $prussian 0);

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			pointer-events: none;
			opacity: .2;
			height: remcalc(90);
			z-index: 1;
			@include shade(top);
		}
	}
}

.hub-header {
	margin: 0 0 remcalc(12);
	font-size: remcalc(30);
	font-weight: 800;
	text-transform: uppercase;

	@include breakpoint(small) {
		margin: 0 0 remcalc(24);
		font-size: remcalc(60);
	}

	@include breakpoint(medium) {
		margin: 0 0 remcalc(32);
	}
}

.hub-subheader {
	margin: 0 0 remcalc(48);
	font-size: remcalc(14);

	.subheader-item {
		text-transform: uppercase;

		&:not(:last-child) {
			&:after {
				content: '•';
				display: inline-block;
				margin: 0 remcalc(6);
			}
		}
	}

	@include breakpoint(small) {
		font-size: remcalc(16);
	}

	@include breakpoint(medium) {
		margin: 0 0 remcalc(72);
	}
}

.hub-columns {
	margin: 0 0 remcalc(32);

	@include breakpoint(small) {
		display: flex;
		justify-content: space-between;
	}

	@include breakpoint(medium) {
		margin: 0 0 remcalc(48);
	}
}

.hub-column {
	margin: 0 0 remcalc(16);

	.hub-image {
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 100%;
			height: remcalc(60);
			position: absolute;
			opacity: .5;
			pointer-events: none;
			bottom: 0;
			left: 0;
			z-index: 1;
			@include shade(top);

			@include breakpoint(medium) {
				height: remcalc(110);
				opacity: .7;
			}
		}

		.hub-title {
			position: absolute;
			bottom: remcalc(16);
			left: remcalc(12);
			z-index: 2;
			font-size: remcalc(30);
			color: $white;
			font-weight: 700;

			@include breakpoint(medium) {
				bottom: remcalc(24);
				left: remcalc(24);
			}
		}

		& > img {
			display: block;
			width: 100%;
		}
	}

	.box-content {
		display: none;

		.box-content-head {
			margin: 0 0 remcalc(8);
			font-weight: 800;

			@include breakpoint(medium) {
				font-size: remcalc(16);
			}
		}

		@include breakpoint(tablet) {
			display: block;
			background: $white;
			padding: remcalc(24);
			font-size: remcalc(15);
			line-height: 1.3;
			color: $black;
			flex: 1 1 auto;

			&.is-split {
				display: flex;
				justify-content: space-between;

				.box-content-column {
					flex: 0 0 calc(50% - 6px);
					max-width: calc(50% - 6px);
				}
			}
		}
	}

	.hub-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: remcalc(47);
		font-size: remcalc(15);
		text-transform: uppercase;
		color: $white;
		text-decoration: none;
		font-family: inherit;
		font-weight: 600;
		background: $sun;
		text-align: center;
		box-shadow: inset 0 0 0 1px transparent;
		transition: box-shadow .4s $ease-cubic, background .4s $ease-cubic, color .4s $ease-cubic;

		.arrow {
			display: block;
			flex: 0 0 remcalc(18);
			width: remcalc(18);
			height: remcalc(22);
			margin: 0 0 0 remcalc(12);

			@include breakpoint(medium) {
				flex: 0 0 remcalc(24);
				width: remcalc(24);
				height: remcalc(32);
				margin: 0 0 0 remcalc(16);
			}

			& > path {
				fill: $white;
				transition: fill .4s ease-in;
			}
		}

		&:hover,
		&:focus {
			color: $sun;
			background: $white;
			box-shadow: inset 0 0 0 2px $sun;

			.arrow {
				& > path {
					fill: $sun;
				}
			}
		}

		@include breakpoint(medium) {
			height: remcalc(56);
			font-size: remcalc(16);
		}
	}

	@include breakpoint(small) {
		flex: 0 0 49%;
		max-width: calc(50% - 12px);
	}

	@include breakpoint(tablet) {
		display: flex;
		flex-direction: column;
		height: remcalc(640);
	}

	@include breakpoint(medium) {
		flex: 0 0 48.5%;
		max-width: calc(50% - 24px);
	}
}

.platforms-wrapper {
	color: $white;

	.platforms-heading {
		margin: 0 0 remcalc(16);
		font-size: remcalc(20);
		text-transform: uppercase;

		@include breakpoint(small) {
			margin: 0 0 remcalc(24);
			font-size: remcalc(30);
			text-align: center;
		}

		& > strong {
			font-weight: 700;
		}
	}

	@include breakpoint(small) {
		width: 100%;
		max-width: remcalc(600);
		margin: 0 auto;
	}
}

.platforms-links {
	@include breakpoint(small) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.platform-link {
	display: flex;
	align-items: center;
	height: remcalc(52);
	text-decoration: none;
	color: $sun;
	font-size: remcalc(15);
	transition: color .4s $ease-cubic;

	&:not(:last-child) {
		border-bottom: 1px solid rgba($white, .4);
	}

	strong {
		font-weight: 700;
	}

	.platform-image {
		flex: 0 0 remcalc(26);
		height: remcalc(26);
		margin: 0 remcalc(12) 0 0;

		path {
			fill: $sun;
			transition: fill .2s $ease-cubic;
		}
	}

	&:hover,
	&:focus {
		color: $white;

		.platform-image {
			path {
				fill: $white;
			}
		}
	}

	@include breakpoint(small) {
		flex: 0 0 49%;
		max-width: calc(50% - 20px);
		border-bottom: 1px solid rgba($white, .4);
	}
}

.benefits-content {
	padding: remcalc(24) 0;
	background: $sun;
	color: $white;

	@include breakpoint(tablet) {
		padding: remcalc(48) 0;
	}

	@include breakpoint(medium) {
		padding: remcalc(56) 0;
	}

	.benefit-header {
		margin: 0 0 remcalc(12);
		font-size: remcalc(15);
		font-weight: 800;
		text-transform: uppercase;

		@include breakpoint(medium) {
			margin: 0;
			font-size: remcalc(18);
		}
	}
}

.benefits-grid-wrapper {
	position: relative;
}

.benefits-intro-text {
	.intro-head {
		margin: 0 0 remcalc(12);
		font-size: remcalc(20);
		text-transform: uppercase;
		line-height: 1.2;

		strong {
			font-weight: 800;
		}

		@include breakpoint(medium) {
			font-size: remcalc(30);
		}
	}

	.intro-subhead {
		width: 100%;
		margin: 0 0 remcalc(24);
		font-size: remcalc(14);
		font-weight: 600;

		@include breakpoint(medium) {
			font-size: remcalc(20);
		}
	}

	@include breakpoint(tablet) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 40%;
		height: remcalc(140);
		border-width: 0 1px 1px 0;
		border-color: $dixie;
		border-style: solid;
	}

	@include breakpoint(medium) {
		height: remcalc(220);
	}
}

.benefits-icons {
	display: flex;
	width: 84%;
	margin: 0 auto;

	@include breakpoint(small) {
		flex-wrap: wrap;
	}

	@include breakpoint(tablet) {
		width: 100%;
	}

	.benefit-item {
		display: block;
		width: remcalc(140);
		max-width: 85%;
		min-height: remcalc(172);
		margin: 0 remcalc(6);
		padding: remcalc(12) remcalc(20);
		border: 1px solid $dixie;

		@include breakpoint(small) {
			margin: remcalc(12);
		}

		@include breakpoint(tablet) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 0 0 20%;
			max-width: 20%;
			min-height: 0;
			height: remcalc(140);
			margin: 0;
			padding: remcalc(24);
			border-width: 0 1px 1px 0;
			border-color: $dixie;
			border-style: solid;

			&:first-child {
				margin: 0 0 0 40%;
			}

			&:nth-child(3),
			&:nth-child(8),
			&:nth-child(13),
			&:nth-child(18) {
				border-right: 0;
			}

			&:nth-child(14),
			&:nth-child(15),
			&:nth-child(16),
			&:nth-child(17),
			&:nth-child(18) {
				border-bottom: 0;
			}
		}

		@include breakpoint(medium) {
			height: remcalc(220);
			padding: remcalc(32);
		}

		.benefit-image {
			display: block;
			margin: 0 auto remcalc(12);
			width: remcalc(56);
			height: remcalc(56);

			@include breakpoint(medium) {
				margin: 0 auto remcalc(24);
				width: remcalc(88);
				height: remcalc(88);
			}
		}

		.benefit-text {
			width: 100%;
			font-size: remcalc(12);
			font-weight: 600;
			line-height: 1.3;
			text-align: center;

			@include breakpoint(medium) {
				font-size: remcalc(16);
			}
		}
	}
}

.benefits-hub-controls {
	position: absolute;
	bottom: remcalc(72);
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include breakpoint(medium){
		display: none;
	}

	.benefits-hub-control {
		appearance: none;
		background: transparent;
		border: 0;

		.arrow {
			display: block;
			width: remcalc(24);
			height: remcalc(24);

			& > path {
				fill: $white;
			}
		}

		&.jobHubPrev {
			.arrow {
				transform: rotate(180deg);
			}
		}
	}
}

.job-search-empty-state {
	padding: 0 20% remcalc(60);

	.empty-state-text {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: remcalc(21);
		font-weight: bold;
	}
}
