.map-section {
	padding: space(6.5) 0;
	background: $white;

	@include breakpoint(tablet) {
		position: relative;
		padding: 0;
	}
}

.map-section-heading {
	padding: space(5.5) 0;
	font-size: remcalc(15);
	font-weight: $extrabold;
	text-transform: uppercase;
	color: $dove-gray;

	@include breakpoint(tablet) { display: none; }
}

.map-container {
	position: relative;

	.map {
		height: remcalc(340);
		margin: 0 remcalc(-$content-container-padding) 0;

		@include breakpoint(tablet) {
			margin: 0 remcalc(-$content-container-padding);
			height: remcalc(480);
		}

		@include breakpoint(medium) {
			margin: 0 remcalc(-$content-container-padding * 9);
			height: remcalc(520);
		}
	}
}

.map-section-box {
	padding: space(4.5) 0 0;
	background: $white;

	@include breakpoint(tablet) {
		position: absolute;
		top: 30%;
		left: 6%;
		background: $white;
		max-width: remcalc(350);
		padding: space(10) space(6) space(11.75);
		box-shadow: 0 remcalc(5) remcalc(16.2) remcalc(1.8) rgba($black, .03);
	}

	@include breakpoint(medium) {
		top: 20%;
		padding: space(12) space(8) space(13.75);
	}

	.map-section-heading {
		&.in-box {
			display: none;
			margin: 0 0 space(5);
			padding: 0 0 space(5);
			border-bottom: 1px solid rgba($black, .25);

			@include breakpoint(tablet) {
				display: block;
			}

			@include breakpoint(medium) {
				font-size: remcalc(18);
				margin: 0 0 space(6);
				padding: 0 0 space(6);
			}
		}
	}

	.map-section-subheading {
		font-size: remcalc(17.5);
		line-height: 1.15;
		text-transform: uppercase;
		color: $dove-gray;

		@include breakpoint(tablet) { line-height: 1.33; }

		@include breakpoint(medium) {
			font-size: remcalc(30);
			line-height: 1.22;
		}

		& > span {
			display: block;
			color: $deepblue;
			font-weight: $extrabold;
		}
	}
}
