/* Vars */
$nav-height-sm: 55 !default;
$nav-height-md: 70 !default;

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: remcalc($nav-height-sm * 1.3) remcalc($content-container-padding * 3);
  background: $biscay;
  width: 100%;
  transition: transform .6s $ease-cubic;
  pointer-events: none;
  overflow: hidden;
  visibility: hidden;
  transform: translateY(-100%);

  .subnav {
    padding: remcalc(12) 0 0 0;

    @include breakpoint(medium) {
      position: absolute;
      top: remcalc(60);
      left: 0;
      width: remcalc(220);
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      transform: translateY(10%);
      transition: transform .2s ease-in, opacity .2s ease-in;
    }

    .navbar-item {
      margin: 0 0 remcalc(6) 0;

      @include breakpoint(medium) {
        background: $biscay;
        height: remcalc(48);
        line-height: remcalc(48);
        margin: 0 0 remcalc(2) 0;
        padding: 0 0 0 remcalc(32);
      }
    }
  }

  & > .navbar-item {
    margin: 0 0 remcalc(12);
    padding: 0 0 remcalc(12);
    font-size: remcalc(20);

    @include breakpoint(medium) {
      margin: 0;
      padding: 0;
      position: relative;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $eastbay;

      @include breakpoint(medium) {
        border: 0;
        margin: 0 remcalc(48) 0 0;
        white-space: nowrap;
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      color: $white;
      font-weight: 700;
      transition: color .3s $ease-cubic;

      @include breakpoint(medium) {
        font-size: remcalc(16);
      }

      &:hover {
        color: $light-sun;
      }

      &:before {
        content: '»';
        margin: 0 remcalc(8) remcalc(5) 0;
        font-size: remcalc(23);
        color: $light-sun;

        @include breakpoint(medium) {
          display: none;
        }
      }
    }

    &.has-submenu {
      & > a {
        font-weight: 400;

        &:before {
          display: none;
        }

        @include breakpoint(medium) {
          font-weight: 700;
        }
      }

      @include breakpoint(medium) {
        display: inline-flex;
        align-items: center;
        height: 100%;

        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: remcalc(8) remcalc(5) 0 remcalc(5);
          border-color: $white transparent transparent transparent;
          margin: remcalc(3) 0 0 remcalc(12);
          transition: border .3s ease-in;
        }

        &:hover {
          & > a {
            color: $sun;
          }

          &:after {
            border-color: $sun transparent transparent transparent;
          }

          .subnav {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: auto;
    height: 100%;
    pointer-events: all;
    overflow: visible;
    visibility: visible;
    transform: translateY(0);
    flex: 0 0 auto;
  }
}

.nav-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 remcalc($content-container-padding);
  background: $biscay;
  z-index: 10;

  .logo-link {
    display: block;
    width: remcalc(96);

    .logotype {
      display: block;
      width: 100%;
      height: auto;
    }

    @include breakpoint(medium) {
      width: remcalc(126);
    }
  }

  .burger-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: remcalc(32);
    height: remcalc(28);
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;

    @include breakpoint(medium) {
      display: none;
    }

    & > span {
      display: block;
      width: remcalc(28);
      height: remcalc(4);
      background: $white;
      transition: background .2s $ease-cubic, width .12s $ease-cubic, transform .4s $ease-cubic, opacity .3s $ease-cubic;

      &:nth-child(1) {
        margin: 0 0 remcalc(8) 0;
      }

      &:nth-child(2) {

      }

      &:nth-child(3) {
        margin: remcalc(8) 0 0 0;
      }
    }

    &:hover,
    &:focus {
      outline: 0;
      box-shadow: none;

      & > span {
        width: remcalc(32);
      }
    }
  }
}

.site-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: remcalc($nav-height-sm);
  background: $biscay;
  z-index: $z-layer-6;

  .container {
    height: 100%;
  }

  @include breakpoint(medium) {
    position: relative;
    height: remcalc($nav-height-md);
    z-index: 900;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }

  &.is-active {
    .burger-menu {
      & > span {
        background: $light-sun;

        &:nth-child(1) {
          transform: translateY(12px) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translateX(10px);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-12px) rotate(-45deg);
        }
      }
    }

    .navbar {
      pointer-events: all;
      overflow: initial;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
