.shop-header {
	margin: 0;
	padding: remcalc(48) remcalc(16);
	background: url('./assets/img/header-sklep.jpg') no-repeat;
	background-position: center;
	background-size: cover;

	@include breakpoint(small) {
		padding: remcalc(64) remcalc(88);
	}

	@include breakpoint(medium) {
		padding: remcalc(112);
	}

	.shop-heading {
		color: $white;
		font-size: remcalc(30);
		text-transform: uppercase;
		line-height: 1.3;

		@include breakpoint(small) {
			font-size: remcalc(60);
		}

		.shop-heading-part {
			display: block;

			&.bold {
				font-weight: 800;
			}
		}
	}

	&.is-centers {
		background: url('./assets/img/header-centrala.jpg') no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.shop-content {
	padding: remcalc(12) 0 0 0;
	background: $alabaster;
}

.shop-banner {
	padding: remcalc(24) remcalc(16);
	color: $white;
	background: $prussian;

	@include breakpoint(small) {
		padding: remcalc(48) remcalc(16);
	}

	.banner-content {
		width: 100%;
		max-width: remcalc(560);
		margin: 0 auto;
		text-align: center;
	}

	.banner-heading {
		margin: 0 0 remcalc(20);
		font-size: remcalc(20);
		font-weight: 600;
		line-height: 1.3;

		@include breakpoint(small) {
			font-size: remcalc(30);
		}

		& > span {
			display: block;

			@include breakpoint(small) {
				display: inline;
			}

			&:first-child {
				color: $sin;
				font-weight: 800;

				@include breakpoint(small) {
					margin: 0 0 0 remcalc(8);
				}
			}
		}
	}

	.banner-subhead {
		font-size: remcalc(14);
		line-height: 1.4;
		text-align: center;

		@include breakpoint(small) {
			font-size: remcalc(17);
		}
	}
}

.job-offers-container {
	@include breakpoint(small) {
		width: 80%;
		margin: 0 auto;
		padding: remcalc(24) 0;
	}

	.job-offer-item {
		display: block;
		width: 100%;
		margin: 0 0 remcalc(12);
		background: $white;
		border-bottom: 2px solid $alto;

		@include breakpoint(small) {
			margin: 0 0 remcalc(8);
		}
	}
}

.job-offer-details {
	display: block;
	padding: remcalc(8) remcalc(20) remcalc(10) remcalc(20);
	text-decoration: none;

	@include breakpoint(small) {
		display: flex;
		align-items: center;
		padding: remcalc(16) remcalc(32);
	}

	@include breakpoint(medium) {
		padding: remcalc(16) remcalc(32);
	}

	&:hover,
	&:focus {
		.job-offer-btn {
			background: $sin;
			color: $white;
		}
	}
}

.job-offer-title {
	margin: 0 0 remcalc(12);
	color: $deepblue;
	font-size: remcalc(16);
	font-weight: 700;

	@include breakpoint(small) {
		margin: 0 remcalc(16) 0 0;
		flex: 1 1 100%;
	}
}

.job-offer-meta {
	display: flex;
	align-items: center;

	@include breakpoint(small) {
		white-space: nowrap;
		margin: 0 remcalc(32) 0 0;
	}

	.job-offer-icon {
		flex: 0 0 remcalc(15);
		height: remcalc(18);
		margin: 0 remcalc(12) 0 0;

		@include breakpoint(medium) {
			flex: 0 0 remcalc(24);
			height: remcalc(29);
		}
	}

	.job-offer-location {
		color: $black;
		font-size: remcalc(14);

		@include breakpoint(medium) {
			display: flex;
			flex-direction: column;
			font-size: remcalc(15);
		}

		.job-offer-town {
			margin: 0 0 0 remcalc(12);
			font-weight: 800;

			@include breakpoint(medium) {
				margin: remcalc(2) 0 0;
			}
		}
	}
}

.job-offer-btn {
	display: none;
	white-space: nowrap;

	@include breakpoint(medium) {
		display: flex;
		align-items: center;
		appearance: none;
		background: transparent;
		height: remcalc(34);
		border: 1px solid $sin;
		color: $sin;
		font-size: remcalc(15);
		text-transform: uppercase;
		font-weight: 600;
		padding: 0 remcalc(32);
		transition: color .4s $ease-cubic, background .4s $ease-cubic;

		&:hover,
		&:focus {
			background: $sin;
			color: $white;
		}
	}
}

.job-offers-search-wrapper {
	padding: remcalc(24) remcalc(16);
	background: $sun;

	@include breakpoint(medium) {
		padding: remcalc(40) 0;
	}
}

.job-offers-search-form {
	@include breakpoint(medium) {
		width: 100%;
		max-width: remcalc(940);
		margin: 0 auto;
	}
}

.job-offers-keyword {
	margin: 0 0 remcalc(24);

	@include breakpoint(medium) {
		margin: 0 0 remcalc(44);
	}

	.keyword-label {
		margin: 0 0 remcalc(12);
		color: $white;
		text-align: center;
		font-size: remcalc(20);
		text-transform: uppercase;

		@include breakpoint(tablet) {
			text-align: left;
		}

		@include breakpoint(medium) {
			margin: 0 0 remcalc(18);
			font-size: remcalc(30);
		}

		strong {
			font-weight: 700;
		}
	}
}

.search-input,
.job-offer-select-input {
	appearance: none;
	width: 100%;
	height: remcalc(37);
	padding: 0 remcalc(16);
	line-height: remcalc(37);
	background: $sun;
	color: $white;
	border: 1px solid $white;
	border-radius: 0;

	&:hover,
	&:focus {
		border: 1px solid $white;
		outline: 0;
		box-shadow: none;
	}

	&::placeholder {
		font-style: italic;
		color: $white;
	}

	&::-ms-expand {
		display: none;
	}

	@include breakpoint(medium) {
		height: remcalc(60);
		padding: 0 remcalc(32);
		font-size: remcalc(20);
	}
}

.job-offer-select-input {
	appearance: none;
	padding: 0 remcalc(38) 0 remcalc(16);

	option {
		color: $black;
		background: $white;
		padding: 0;
		margin: 0;
	}

	@include breakpoint(medium) {
		bottom: remcalc(22);
		right: remcalc(32);
		padding: 0 remcalc(48) 0 remcalc(16);
	}
}

.job-offers-selects {
	.job-offer-select {
		position: relative;
		margin: 0 0 remcalc(16);

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: remcalc(14);
			right: remcalc(12);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 7px 7px 0 7px;
			border-color: $white transparent transparent transparent;
			pointer-events: none;
			z-index: 2;

			@include breakpoint(medium) {
				bottom: remcalc(22);
				right: remcalc(16);
				border-width: 10px 10px 0 10px;
			}
		}

		.job-offer-select-label {
			margin: 0 0 remcalc(8);
			color: $white;
			font-size: remcalc(14);
			font-weight: 700;
		}

		@include breakpoint(tablet) {
			flex: 0 0 calc(33.3% - 12px);
			margin: 0;
			justify-content: space-between;
		}
	}

	@include breakpoint(tablet) {
		display: flex;
		justify-content: space-between;
		margin: 0 0 remcalc(24);
	}

	@include breakpoint(medium) {
		margin: 0 0 remcalc(32);
	}
}

.job-offer-search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: remcalc(45);
	font-size: remcalc(15);
	font-weight: 800;
	text-transform: uppercase;
	color: $prussian;
	border: 0;
	border-radius: 0;
	background: $white;
	font-family: inherit;
	cursor: pointer;
	transition: color .3s $ease-cubic, background .3s $ease-cubic;

	.job-btn-arrow {
		display: block;
		flex: 0 0 remcalc(17);
		margin: 0 0 0 remcalc(12);
		height: remcalc(17);

		@include breakpoint(medium) {
			flex: 0 0 remcalc(24);
			margin: 0 0 0 remcalc(16);
			height: remcalc(24);
		}

		& > path {
			fill: $prussian;
			transition: fill .1s ease-in;
		}
	}

	&:hover,
	&:focus {
		color: $white;
		background: $prussian;

		.job-btn-arrow {
			& > path {
				fill: $white;
			}
		}
	}

	@include breakpoint(medium) {
		height: remcalc(70);
		font-size: remcalc(20);
	}
}
