.testimonials {
	overflow: hidden;
}

.testimonial-container {
	position: relative;
	color: $white;
	padding: remcalc(32) remcalc($content-container-padding);
	z-index: 1;
	transform: translate3d(0, 0, 0);

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($zodiac, .8);
		pointer-events: none;
		z-index: 0;

		@include breakpoint(tablet) {
			width: 80%;
		}

		@include breakpoint(medium) {
			width: 64%;
		}
	}

	@include breakpoint(tablet) {
		padding: remcalc(64) remcalc($content-container-padding) remcalc(64) remcalc(88);

		@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
			background: $biscay;
		}
	}

	@include breakpoint(medium) {
		padding: remcalc(88) 0 remcalc(88) remcalc(72);

		&:after {
			content: '';
			display: block;
			width: 20%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: $luckypoint;
			pointer-events: none;
		}
	}

	@include breakpoint(large) {
		padding: remcalc(96) 0 remcalc(96) remcalc(112);

		&:after {
			width: 22%;
		}
	}
}

.testimonial-header {
	position: relative;
	margin: 0 0 remcalc(32);
	color: $sun;
	font-size: remcalc(17);
	font-weight: 600;
	line-height: 1.3;
	text-transform: uppercase;
	z-index: 2;

	@include breakpoint(tablet) {
		margin: 0 0 remcalc(16);
		font-size: remcalc(18);
		line-height: 1;
	}
}

.testimonial-slider {
	position: relative;
	transition: opacity 1s ease-in;
	transition-delay: 2s;
}

.testimonial-item {
	position: absolute;
	top: 0;

	.testimonial-title {
		position: relative;
		margin: 0 0 remcalc(24);
		font-size: remcalc(20);
		font-weight: 800;
		text-transform: uppercase;
		line-height: 1.25;
		z-index: 3;
		opacity: 0;

		@include breakpoint(tablet) {
			margin: 0 0 remcalc(40);
			max-width: remcalc(560);
			font-size: remcalc(28);
			line-height: 1.25;
		}

		@include breakpoint(medium) {
			transform: translateY(40%);
			transition: transform .6s $ease-cubic, opacity .4s $ease-cubic;
		}

		@include breakpoint(large) {
			margin: 0 0 remcalc(80);
			max-width: remcalc(680);
			font-size: remcalc(35);
			line-height: 1.35;
		}
	}

	.testimonial-meta {
		position: relative;
		display: flex;
		flex-direction: column-reverse;
		z-index: 3;
		overflow: hidden;

		@include breakpoint(tablet) {
			flex-direction: row;
			max-width: remcalc(640);
		}

		@include breakpoint(medium) {
		}

		@include breakpoint(large) {
			max-width: remcalc(720);
		}
	}

	.testimonial-quote {
		margin: 0 0 remcalc(28);
		font-size: remcalc(15);
		line-height: 1.35;
		opacity: 0;

		@include breakpoint(medium) {
			transform: translateX(-9%);
			transition: transform .6s $ease-cubic, opacity .4s $ease-cubic;
		}

		@include breakpoint(large) {
			font-size: remcalc(16);
			line-height: 1.4;
		}
	}

	.testimonial-details {
		text-align: center;
		opacity: 0;

		@include breakpoint(tablet) {
			flex: 0 0 remcalc(180);
			margin: 0 remcalc(28) 0 0;
			text-align: left;
		}

		@include breakpoint(medium) {
			transform: translateX(-60%);
			transition: transform .6s $ease-cubic, opacity .4s $ease-cubic;
		}

		@include breakpoint(large) {
			flex: 0 0 remcalc(200);
			margin: 0 remcalc(32) 0 0;
		}
	}

	.testimonial-image {
		position: absolute;
		top: remcalc(-88);
		left: remcalc(-12);
		z-index: -1;
		width: calc(100% + 24px);
		height: calc(100% + 124px);
		opacity: 0;

		@include breakpoint(tablet) {
			top: remcalc(-98);
			left: remcalc(-88);
			width: calc(100% + 100px);
			height: calc(100% + 164px);
		}

		@include breakpoint(medium) {
			top: remcalc(-124);
			left: 0;
			width: calc(100% + 80px);
			height: calc(100% + 212px);
		}

		@include breakpoint(large) {
			top: remcalc(-132);
			height: calc(100% + 240px);

			@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
				left: remcalc(-20);
				width: calc(100% + 120px);
				height: calc(100% + 320px);
			}
		}

		@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
			@include breakpoint(tablet) {
				width: calc(100% + #{remcalc(32)});
				height: auto;
				background: $biscay;
			}
		}

		.testimonial-img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.is-active {
		position: relative;

		.testimonial-title {
			opacity: 1;
			transition: opacity .4s ease-in;

			@include breakpoint(medium) {
				transform: translateY(0%);
				transition: transform .6s $ease-cubic, opacity .4s $ease-cubic;
				transition-delay: .3s;
			}
		}

		.testimonial-quote {
			opacity: 1;
			transition: opacity .4s ease-in;

			@include breakpoint(medium) {
				transform: translateX(0%);
				transition: transform .6s $ease-cubic, opacity .4s $ease-cubic;
				transition-delay: .4s;
			}
		}

		.testimonial-details {
			opacity: 1;
			transition: opacity .4s ease-in;

			@include breakpoint(medium) {
				transform: translateX(0%);
				transition: transform .6s $ease-cubic, opacity .4s $ease-cubic;
				transition-delay: .4s;
			}
		}

		.testimonial-image {
			opacity: 1;
		}
	}
}

.testimonial-controls {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 remcalc(16);
	bottom: remcalc(52);
	left: 0;
	width: 100%;
	z-index: 10;

	@include breakpoint(tablet) {
		bottom: remcalc(52);
		left: remcalc(278);
		width: remcalc(96);
	}

	@include breakpoint(medium) {
		left: remcalc(264);
	}

	@include breakpoint(large) {
		bottom: remcalc(72);
		left: remcalc(326);
	}
}

.testimonial-control {
	appearance: none;
	border: 0;
	background: transparent;
	margin: 0;
	padding: 0;

	& > svg {
		display: block;
		width: remcalc(22);
		height: remcalc(20);

		@include breakpoint(large) {
			bottom: remcalc(72);
			left: remcalc(326);
		}
	}

	&.previous {
		& > svg {
			transform: rotate(180deg);
		}
	}

	&:focus,
	&:hover {
		outline: 0;
		box-shadow: none;
	}
}

.testimonial-details-title {
	margin: 0 0 remcalc(8);
	font-size: remcalc(14);
	color: $sun;
	text-transform: uppercase;
	font-weight: 800;

	@include breakpoint(medium) {
		margin: 0 0 remcalc(12);
		font-size: remcalc(16);
	}

	@include breakpoint(large) {
		font-size: remcalc(18);
	}
}

.testimonial-details-name {
	margin: 0 0 remcalc(8);
	font-size: remcalc(20);

	@include breakpoint(medium) {
		margin: 0 0 remcalc(12);
		font-size: remcalc(32);
	}

	@include breakpoint(large) {
		font-size: remcalc(35);
	}
}

.testimonial-details-misc {
	font-size: remcalc(14);
	color: $sun;

	@include breakpoint(medium) {
		font-size: remcalc(18);
	}
}
