.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba($black, .8);
  overflow: hidden;
  transform: scale(0);
  pointer-events: none;
  visibility: hidden;
  transition: transform .3s $ease-cubic;
  z-index: $z-layer-6;
  
  &.is-active {
    visibility: visible;
    pointer-events: initial;
    transform: scale(1);
  }

  .close-video-modal {
    position: absolute;
    top: 1%;
    right: 1.5%;
    border: 0;
    background: transparent;
    color: $sun;
    font-family: inherit;
    font-size: remcalc(40);
    cursor: pointer;
    z-index: $z-layer-6;
  }

  .modal-container { 
    position: relative; 
    padding: 0 0 56.25%;
    height: 0;
    overflow: hidden;
    max-width: remcalc(1260);
    max-height: remcalc(720);
    width: 100%;

    @include breakpoint(medium) {
      padding: 0;
      height: 100%;
    }

    .youtube-vid { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: remcalc(1260);
      max-height: remcalc(720);
    }
  } 
}
