$_SECTION_PADDING: 6 !default;
$_SECTION_PADDING_TABLET: 8 !default;

.vision-section {
	padding: space($_SECTION_PADDING) 0 0;
	background: $sun;

	@include breakpoint(tablet) { padding: space($_SECTION_PADDING_TABLET) 0 0; }
	@include breakpoint(medium) { padding: space(15) 0 0; }
}

/* Section heading */
.vision-text-wrapper {
	margin: 0 0 space(5);
	color: $white;
	text-transform: uppercase;
	text-align: center;

	@include breakpoint(tablet) { margin: 0 0 space(10); }
	@include breakpoint(medium) { margin: 0 0 space(12.5); }

	.vision-header {
		margin: 0 0 space(5.25);
		font-size: remcalc(25);
		line-height: 1.2;

		& > span {
			display: block;
			font-weight: $extrabold;
			margin: 0 0 remcalc(8);
		}

		@include breakpoint(medium) {
			font-size: remcalc(30);
			margin: 0 0 space(3.75);
		}
	}

	.vision-subheader {
		font-size: remcalc(15);
		font-weight: $extrabold;

		@include breakpoint(medium) {
			font-size: remcalc(20);
			font-weight: $bold;
		}
	}
}

/* Section slider */
.vision-slider-wrapper {
	position: relative;

	.slider-btn {
		position: absolute;
		top: 18%;
		display: block;
		background: transparent;
		border: 0;
		appearance: none;
		opacity: 1;
		pointer-events: auto;
		z-index: $z-layer-2;
		transition: opacity .6s $ease-cubic;

		@include breakpoint(tablet) {display: none;}

		& > svg {
			display: block;
			height: remcalc(32);
			width: auto;
			fill: $white;
		}

		&.prev-btn { 
			left: 0;
			transform: rotate(180deg); 
		}

		&.next-btn {
			right: 0;
		}

		&.slick-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.vision-list {
	display: block;
	margin: 0 auto;

	@include breakpoint(tablet) {
		display: flex;
		justify-content: space-between;
	}

	/* Slick space */
	$_SLICK_SPACING: 27 !default;
	.slick-slide { margin: 0 0 0 remcalc($_SLICK_SPACING); }
	.slick-list { margin: 0 0 0 remcalc(-$_SLICK_SPACING); }

	.vision-list-element {
		width: 100%;
		padding: space(5) 0 space($_SECTION_PADDING);
		margin: 0 auto;
		color: $white;
		text-align: center;
		border-top: 2px solid rgba($white, .3);

		@include breakpoint(tablet) {
			max-width: remcalc(223);
			padding: space(5) 0 space($_SECTION_PADDING_TABLET);
		}

		@include breakpoint(medium) {
			max-width: remcalc(232);
			padding: space(5) 0 space(6);

		}

		.vision-img-wrapper { 
			margin: 0 0 space(4);
			
			.vision-img {
				margin: 0 auto;
			}
		}

		.vision-title {
			margin: 0 0 space(4.75);
			font-size: remcalc(16);
			font-weight: $bold;
			line-height: 1.22;

			@include breakpoint(medium) {
				margin: 0 0 space(3);
				font-size: remcalc(20);
			}
		}

		.vision-text {
			font-size: remcalc(14.5);
			line-height: 1.33;

			@include breakpoint(medium) {
				font-size: remcalc(16);
			}
		}
	}
}
