.meet-us-hero {
	.meet-us-vid-wrapper {
		position: relative;

		@include breakpoint(tablet) {
			flex: 0 0 65%;
			width: 65%;
			height: auto;
		}

		@include breakpoint(medium) {
			flex: 0 0 70%;
			width: 70%;
		}

		.meet-us-more-wrapper {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: flex-end;
			background: linear-gradient(
				to top,
				$black 0%,
				rgba($black, 0.738) 19%, 
				rgba($black, 0.541) 34%, 
				rgba($black, 0.382) 47%, 
				rgba($black, 0.278) 56.5%, 
				rgba($black, 0.194) 65%, 
				rgba($black, 0.126) 73%, 
				rgba($black, 0.075) 80.2%, 
				rgba($black, 0.042) 86.1%, 
				rgba($black, 0.021) 91%, 
				rgba($black, 0.008) 95.2%, 
				rgba($black, 0.002) 98.2%, 
				transparent 100%
			);
			max-height: 30%;
			height: 100%;
			width: 100%;
			overflow-y: hidden;
			transition: height .2s $ease-cubic;

			@include breakpoint(medium) { height: 0; }

			.see-more-btn {
				margin: 0 0 remcalc(10) remcalc(10);
				border: remcalc(2) solid $sun;
				padding: remcalc(4) remcalc(8);
				background: 0;
				appearance: none;
				color: $sun;
				font-family: inherit;
				font-size: remcalc(10);
				font-weight: $semibold;
				text-transform: uppercase;
				cursor: pointer;

				@include breakpoint(tablet) { font-size: remcalc(16); }
			}
		}

		&:hover {
      .meet-us-more-wrapper {
        height: 100%;
      }
    }
	}

	.meet-hero-vid {
		display: block;
		width: 100%;
	}

	.meet-hero-section {
		padding: remcalc(32) remcalc(16);
		color: $dove-gray;
		background: $gallery;

		.meet-hero-header {
			position: relative;
			margin: 0 0 remcalc(12);
			font-size: remcalc(30);
			font-weight: 800;
			text-transform: uppercase;
			z-index: 10;

			@include breakpoint(tablet) {
				width: 50%;
				margin: 0 0 remcalc(24);
				font-size: remcalc(50);
				font-weight: 300;
				line-height: 1.15;

				strong {
					font-weight: 800;
					color: $sun;
				}
			}

			@include breakpoint(medium) {
				margin: 0 0 remcalc(32);
				line-height: 1.3;
			}
		}

		@include breakpoint(tablet) {
			flex: 0 0 35%;
			max-width: 35%;
			align-self: stretch;
			color: $white;
			background: $downriver;
		}

		@include breakpoint(medium) {
			flex: 0 0 30%;
			max-width: 30%;
			position: relative;
			padding: remcalc(72)  remcalc(32);

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: remcalc(90);
				height: 100%;
				z-index: 2;
				@include shade(right);
			}
		}
	}

	.meet-hero-subheader {
		position: relative;
		font-size: remcalc(14);
		line-height: 1.3;
		text-transform: uppercase;
		z-index: 10;

		.meet-hero-subitem {
			&:not(:last-child) {
				&:after {
					display: inline-block;
					margin: 0 remcalc(4);
					content: '•';
					color: $dove-gray;

					@include breakpoint(tablet) {
						color: $white;
					}
				}
			}
		}

		@include breakpoint(tablet) {
			font-size: remcalc(16);
			line-height: 1.4;
		}
	}

	@include breakpoint(tablet) {
		display: flex;
		align-items: flex-start;
	}
}

.history-section {
	background: url('./assets/img/historical-bg.jpg') no-repeat;
	background-size: cover;
	background-position: 70% 50%;

	.history-content {
		padding: remcalc(32) remcalc(16);
		color: $white;
		background: rgba($deepblue, .8);

		@include breakpoint(small) {
			width: 90%;
			padding: remcalc(64) 0 remcalc(64) remcalc(32);
		}

		@include breakpoint(tablet) {
			width: 80%;
			padding: remcalc(72) 0 remcalc(72) remcalc(64);
		}
	}

	.history-title {
		margin: 0 0 remcalc(16);
		font-size: remcalc(15);
		text-transform: uppercase;
		font-weight: 600;
		color: $sin;

		@include breakpoint(tablet) {
			margin: 0 0 remcalc(32);
			font-size: remcalc(18);
		}
	}

	.history-header {
		margin: 0 0 remcalc(16);
		font-size: remcalc(25);
		font-weight: 800;
		text-transform: uppercase;
		line-height: 1.2;

		@include breakpoint(tablet) {
			margin: 0 0 remcalc(32);
			font-size: remcalc(30);
		}

		@include breakpoint(medium) {
			font-size: remcalc(35);
		}
	}

	.history-text {
		font-size: remcalc(14);
		line-height: 1.25;

		@include breakpoint(small) {
			width: 100%;
			max-width: remcalc(490);
		}

		@include breakpoint(tablet) {
			max-width: remcalc(560);
			font-size: remcalc(16);
		}

		@include breakpoint(medium) {
			max-width: remcalc(520);
		}
	}

	@include breakpoint(tablet) {
		background: $deepblue url('./assets/img/historical-bg.jpg') no-repeat;
		background-size: 1200px;
		background-position: -120% 50%;
	}

	@include breakpoint(medium) {
		background-size: 1340px;
		background-position: right 50%;
	}

	@include breakpoint(large) {
		background-size: 1440px;
		background-position: -315% 50%;
	}
}

.norauto-timeline {
	width: 100%;
}

.timeline-road {
	.timeline-wrapper {
		overflow: hidden;
		overflow-x: scroll;
  	-webkit-overflow-scrolling: touch;
	}

	@include breakpoint(tablet) {
		overflow: hidden;
		height: remcalc(172);
	}

	@include breakpoint(large) {
		height: remcalc(242);
	}
}

.timeline-gray-place {
	width: remcalc(1360);
	height: remcalc(120);
	background: $silver;
	box-shadow: 20vw 0 0 0 $silver;

	@include breakpoint(large) {
		height: remcalc(154);
	}
}

.timeline-main-road {
	position: relative;
	background: $heavymetal;
	width: remcalc(1360);
	height: remcalc(52);
	box-shadow: 20vw 0 0 0 $heavymetal;

	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, transparent, transparent 50%, rgba($white, .6) 50%, rgba($white, .6) 100%);
		background-size: remcalc(14) remcalc(4);
		z-index: 1;

		@include breakpoint(large) {
			background: linear-gradient(90deg, transparent, transparent 50%, rgba($white, .6) 50%, rgba($white, .6) 100%);
			background-size: remcalc(24) remcalc(8);
		}
	}

	@include breakpoint(large) {
		height: remcalc(98);
	}
}

.timeline-car {
	position: absolute;
	bottom: remcalc(3);
	width: remcalc(44);
	height: remcalc(20);

	@include breakpoint(large) {
		width: remcalc(88);
		height: remcalc(44);
	}
}

.timeline-item {
	appearance: none;
	width: remcalc(24);
	height: remcalc(24);
	background: $luckypoint;
	border-radius: 100%;
	border: 2px solid $silver;
	position: absolute;
	top: remcalc(-8);
	transition: background .4s $ease-cubic, border .4s $ease-cubic;
	z-index: 2;

	&:focus,
	&:hover {
		outline: 0;
		box-shadow: none;
		background: $sin;
		border-color: $white;
	}

	&.is-active {
		background: $sin;
		border-color: $white;
		z-index: 4;
	}

	&.is-important {
		&:before,
		&:after {
			position: absolute;
			display: block;
			z-index: 0;
		}

		&:after {
			content: '';
			width: remcalc(2);
			height: remcalc(16);
			background: linear-gradient(180deg, transparent, transparent 50%, rgba($white, .6) 50%, rgba($white, .6) 100%);
			background-size: remcalc(12) remcalc(6);
			bottom: remcalc(22);
			left: calc(50% - 1px);

			@include breakpoint(medium) {
				height: remcalc(30);
			}

			@include breakpoint(large) {
				width: remcalc(2);
				height: remcalc(42);
				bottom: remcalc(22);
				left: calc(50% - 1px);
			}
		}

		&:before {
			content: attr(data-year);
			color: $white;
			font-size: remcalc(20);
			font-weight: 800;
			bottom: remcalc(44);
			transform: translateX(-40%);

			@include breakpoint(medium) {
				bottom: remcalc(54);
			}

			@include breakpoint(large) {
				bottom: remcalc(68); 
			}
		}
	}

	/* Dates */
	&.y1986 {
		z-index: 20;

		~ .y1986 {
			z-index: 10;
		}
	}
	&.y2017 {
		z-index: 20;

		~ .y2017 {
			z-index: 10;
		}
	}
}

.timeline-milestones {
	position: relative;
	width: 100%;
	height: 100%;
	user-select: none;
	pointer-events: none;

	.timeline-milestone {
		position: absolute;
		bottom: 0;
		
		@include breakpoint(medium) {bottom: remcalc(8);}
		@include breakpoint(large) {bottom: remcalc(12);}

		&:first-of-type { 
			left: remcalc(24);

			.milestone-title { margin: 0 0 0 remcalc(39); }
		}

		&:nth-of-type(2) { 
			left: remcalc(589);
		}

		&:last-of-type { 
			left: remcalc(1049);
		}

		.milestone-title {
			font-size: remcalc(40);
			color: rgba($white, .15);
			text-transform: uppercase;
			font-weight: 800;
			line-height: .75;
		}

		.milestone-details {
			font-size: remcalc(15);
			color: $tundora;
			text-transform: uppercase;
			font-weight: 700;
			margin: 0 0 remcalc(56);

			@include breakpoint(medium) {
				margin: 0 0 remcalc(38);
			}

			@include breakpoint(large) {
				margin: 0 0 remcalc(62);
			}
		}
	}
}

.timeline-events {
	position: relative;
	width: 100%;
	height: remcalc(44);
}

.timeline-details {
	position: relative;
}

.timeline-slides {
	position: relative;
	overflow: hidden;

	.timeline-slide {
		opacity: 0;
		top: 0;
		transition: opacity .6s $ease-cubic;

		&:not(.is-active) { position: absolute; }
		&.is-active { opacity: 1; }
	}
}

.timeline-slide {
	.timeline-slide-img {
		width: 100%;

		@include breakpoint(tablet) {
			flex: 0 0 50%;
			max-width: 50%;
			height: auto;
			align-self: flex-start;
		}
	}

	.timeline-slide-content {
		padding: remcalc(24) remcalc(16) remcalc(12);

		@include breakpoint(tablet) {
			flex: 0 0 50%;
			max-width: 50%;
			padding: remcalc(56);
		}

		@include breakpoint(large) {
			padding: remcalc(44) remcalc(112) remcalc(44) remcalc(44);
		}
	}

	.timeline-slide-year {
		margin: 0 0 remcalc(12);
		color: $silver;
		font-size: remcalc(20);
		font-weight: 800;

		@include breakpoint(tablet) {
			font-size: remcalc(30);
		}
	}

	.timeline-slide-events {
		margin: 0 0 remcalc(12);
		font-size: remcalc(14);
		color: $sun;
		line-height: 1.3;

		@include breakpoint(tablet) {
			font-size: remcalc(16);
		}

		@include breakpoint(large) {
			font-size: remcalc(21);
		}
	}

	@include breakpoint(tablet) {
		display: flex;
	}
}

.timeline-slider-controls {
	position: absolute;
	display: flex;
	justify-content: space-between;
	padding: 0 remcalc(8);
	top: remcalc(120);
	left: 0;
	width: 100%;
	height: auto;
	z-index: 10;

	@include breakpoint(small) {
		top: remcalc(178);
		padding: 0;
	}

	@include breakpoint(tablet) {
		top: remcalc(168);
		padding: 0;
	}

	.timeline-control {
		appearance: none;
		background: transparent;
		border: 0;

		&:focus,
		&:hover {
			outline: 0;
			box-shadow: none;
		}

		& > svg {
			display: block;
			width: remcalc(34);
			height: remcalc(34);

			path {
				fill: $sun;
			}
		}

		&.prev {
			& > svg {
				transform: rotate(180deg);
			}
		}

		@include breakpoint(tablet) {
			padding: remcalc(16) remcalc(8);
			background: rgba($dove-gray, .5);

			& > svg {
				path {
					fill: $white;
				}
			}
		}

		@include breakpoint(large) {
			padding: remcalc(32) remcalc(24);

			& > svg {
				width: remcalc(44);
				height: remcalc(44);

				path {
					fill: $white;
				}
			}
		}
	}
}
